include ./body/helpers.pug
main#content.content
  .content__inner
    header.entry
      include ./body/entry.pug
    section.widget
      include ./body/hello.pug
      include ./body/experience.pug
      include ./body/studies.pug
      include ./body/software.pug
      include ./body/skills.pug
      //- include ./body/side.pug
      include ./body/contact.pug
    footer.gdpr__wrapper
      p.gdpr__clause I hereby give consent for my personal data to be processed by #{gdprCompany}
      p.gdpr__clause for the purpose of conducting recruitment for the position for which I am applying.
script(
  src=gsapUrl
  integrity=gsapPublicKey
  crossorigin='anonymous'
)
script(src='dist/js/main.js')
script(src='dist/js/animation.js')
