a#skip-nav.screenreader-text(href='#content' tabindex='0')
  | Skip to Content
main#content.content
  aside.helpers
    ul
      li.widget__tooltip-item
        button.toggle__btn.widget__info
        audio#switchOnAudio(src='dist/audio/switch-on.mp3' hidden='')
        audio#switchOffAudio(src='dist/audio/switch-off.mp3' hidden='')
  .content__inner
    header.entry
      include ./body/entry.pug
    section.widget
      include ./body/hello.pug
      include ./body/experience.pug
      include ./body/studies.pug
      include ./body/software.pug
      include ./body/skills.pug
      include ./body/side.pug
script(
  src=gsapUrl
  integrity=gsapPublicKey
  crossorigin='anonymous'
)
script(src='dist/js/main.js')
script(src='dist/js/animation.js')
