a#skip-nav.screenreader-text(href='#content' tabindex='0')
  | Skip to Content
aside.helpers
  ul
    li.widget__tooltip-item
      button.toggle__btn.widget__info
      .widget__tooltip-content
        h5 Dark / light mode
main#content.content
  .content__inner
    header.entry
      include ./body/entry.pug
    section.widget
      include ./body/hello.pug
      include ./body/experience.pug
      include ./body/studies.pug
      include ./body/software.pug
      include ./body/skills.pug
      include ./body/side.pug
    footer.info
      p This website uses cookies
script(src='dist/js/main.js')
