//- Variables
- var pageTitle = 'Jerzy Ignatowicz'
- var pageName = 'Ignet'
- var pageDesc = 'UX oriented Front-End Developer'
- var pageKeywords = 'ignet, produkcja stron www, jerzy ignatowicz, front end developer'
- var googleKey = 'mAIBMs6qKPvnfCdd9sDOJ0Ff_VlJGvpQIQLBfIVnJyw'
- var pathImg = 'dist/img/'

//- Urls
- var pageUrl = 'http://ignet.com.pl/'
- var mailUrl = 'mailto:ignet.studio@gmail.com'
- var phoneUrl = 'tel:+48600232991'
- var ogUrl = 'http://ignet.com.pl/images/ignet_og.jpg'
- var facebookUrl = 'https://www.facebook.com/ignet.studio/'
- var twitterUrl = 'https://twitter.com/ignet_studio'
- var youtubeUrl = 'https://www.youtube.com/user/IgnetStudio'
- var githubUrl = 'https://github.com/IgnetStudio'
- var linkedinUrl = 'https://pl.linkedin.com/in/jerzy-ignatowicz'