//- Variables

- var pageTitle = 'Jerzy Ignatowicz'
- var pageName = 'Ignet'
- var pageDesc = 'UI Developer'
- var pageKeywords = 'UI Developer, ignet, produkcja stron www, jerzy ignatowicz, front end developer'
- var pathImg = 'assets/img/'
- var pathCard = 'assets/img/card/'

//- Urls

- var pageUrl = 'https://ignet.com.pl/'
- var mailUrl = 'ignet.studio@gmail.com'
- var phoneUrl = '+48600232991'
- var whatsappUrl = 'https://api.whatsapp.com/send/?phone=48600232991&text&app_absent=0'
- var cvUrl = 'https://ignet.com.pl/dist/Jerzy-Ignatowicz-CV.pdf'
- var ogUrl = 'assets/img/ignet_banner.jpg'
- var facebookUrl = 'https://www.facebook.com/ignet.studio/'
- var twitterUrl = 'https://twitter.com/ignet_studio'
- var youtubeUrl = 'https://www.youtube.com/user/IgnetStudio'
- var githubUrl = 'https://github.com/IgnetStudio'
- var linkedinUrl = 'https://linkedin.com/in/jerzy-ignatowicz'
- var skypeUrl = 'skype:ignet.studio?call'
- var instagramUrl = 'https://www.instagram.com/ignet.studio/'
- var codepenUrl = 'https://codepen.io/Ignet'
- var gdprCompany = 'company placeholder'
- var fontsUrl = 'https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap&subset=latin-ext'
- var googlePublicKey = 'mAIBMs6qKPvnfCdd9sDOJ0Ff_VlJGvpQIQLBfIVnJyw'

//- Content

- var title1A = "Fintech"
- var desc1A = "TODO"
- var btn1A = "link"
- var url1A = "TODO"
- var title2A = "Design system"
- var desc2A = "Reusable components with variantse"
- var btn2A = "Figma"
- var url2A = "TODO"
- var title2C = "QuizBox"
- var desc2C = "The aim of the game is to entertain the player, regardless of her / his level of proficiency in each language"
- var btn2C = "TODO"
- var url2C = "TODO"
- var title3A = "Fragrances"
- var desc3A = "Reusable components, written in Handlebars (template system)"
- var btn3A = "TODO"
- var url3A = "TODO"
- var title3B = "Beauty"
- var desc3B = "Maintenance"
- var btn3B = "TODO"
- var url3B = "TODO"
- var title3C = "Street Art"
- var desc3C = "TODO"
- var btn3C = "TODO"
- var url3C = "TODO"
- var title5B = "Search box"
- var desc5B = "Simple, asynchronous search box call with a real REST API call and debouncer"
- var btn5B = "Repository"
- var url5B = "TODO"
