//- Variables

- var pageTitle = 'Jerzy Ignatowicz'
- var pageName = 'Ignet'
- var pageDesc = 'UI Developer'
- var pageKeywords = 'UI Developer, ignet, produkcja stron www, jerzy ignatowicz, front end developer'
- var pathImg = 'assets/img/'
- var pathCard = 'assets/img/card/'

//- Urls

- var pageUrl = 'https://ignet.com.pl/'
- var mailUrl = 'ignet.studio@gmail.com'
- var phoneUrl = '+48600232991'
- var whatsappUrl = 'https://api.whatsapp.com/send/?phone=48600232991&text&app_absent=0'
- var cvUrl = 'https://ignet.com.pl/assets/Jerzy-Ignatowicz-CV.pdf'
- var ogUrl = 'assets/img/ignet_banner.jpg'
- var facebookUrl = 'https://www.facebook.com/ignet.studio/'
- var twitterUrl = 'https://twitter.com/ignet_studio'
- var youtubeUrl = 'https://www.youtube.com/user/IgnetStudio'
- var githubUrl = 'https://github.com/IgnetStudio'
- var linkedinUrl = 'https://linkedin.com/in/jerzy-ignatowicz'
- var skypeUrl = 'skype:ignet.studio?call'
- var instagramUrl = 'https://www.instagram.com/ignet.studio/'
- var codepenUrl = 'https://codepen.io/Ignet'
- var gdprCompany = 'company placeholder'
- var fontsUrl = 'https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap&subset=latin-ext'
- var googlePublicKey = 'mAIBMs6qKPvnfCdd9sDOJ0Ff_VlJGvpQIQLBfIVnJyw'

//- Content

- var title1A = "Fintech"
- var desc1A = "TODO"
- var btn1A = "link"
- var url1A = "TODO"
- var title2A = "Design system"
- var desc2A = "Reusable components with variantse"
- var btn2A = "Figma"
- var url2A = "TODO"
- var title2B = "Icon Set"
- var desc2B = "Ignet"
- var btn2B = "TODO"
- var url2B = "TODO"
- var title2C = "QuizBox"
- var desc2C = "The aim of the game is to entertain the player, regardless of her / his level of proficiency in each language"
- var btn2C = "TODO"
- var url2C = "TODO"
- var title2D = "GeoBike.ai"
- var desc2D = "..."
- var btn2D = "TODO"
- var url2D = "TODO"
- var title2E = "Icon Set"
- var desc2E = "Fintech"
- var btn2E = "TODO"
- var url2E = "TODO"
- var title3A = "Fragrances"
- var desc3A = "Reusable components, written in Handlebars (template system)"
- var btn3A = "TODO"
- var url3A = "TODO"
- var title3B = "Beauty"
- var desc3B = "Maintenance of website Japanese-based multinational cosmetics (skin-care) brand"
- var btn3B = "TODO"
- var url3B = "TODO"
- var title3C = "Street Art"
- var desc3C = "TODO"
- var btn3C = "TODO"
- var url3C = "TODO"
- var title3D = "Ignet"
- var desc3D = "TODO"
- var btn3D = "TODO"
- var url3D = "TODO"
- var title4A = "Travel"
- var desc4A = "TODO"
- var btn4A = "TODO"
- var url4A = "TODO"
- var title4B = "Travel Bot"
- var desc4B = "TODO"
- var btn4B = "TODO"
- var url4B = "TODO"
- var title4C = "Flight Tracker"
- var desc4C = "TODO"
- var btn4C = "TODO"
- var url4C = "TODO"
- var title4D = "Art Gallery"
- var desc4D = "TODO"
- var btn4D = "TODO"
- var url4D = "TODO"
- var title4E = "Electronics"
- var desc4E = "TODO"
- var btn4E= "TODO"
- var url4E = "TODO"
- var title4F = "Animation"
- var desc4F = "TODO"
- var btn4F= "TODO"
- var url4F = "TODO"
- var title5A = "User Flow"
- var desc5A = "TODO"
- var btn5A= "TODO"
- var url5A = "TODO"
- var title5B = "Search box"
- var desc5B = "Simple, asynchronous search box call with a REST API call and debouncer"
- var btn5B = "Repository"
- var url5B = "https://github.com/IgnetStudio/ipg_search"
- var title5C = "Game"
- var desc5C = "TODO"
- var btn5C= "TODO"
- var url5C = "TODO"
- var title5D = "Bot #1"
- var desc5D = "TODO"
- var btn5D= "TODO"
- var url5D = "TODO"
- var title5E = "Bot #2"
- var desc5E = "TODO"
- var btn5E= "TODO"
- var url5E = "TODO"
- var title5F = "Artsy"
- var desc5F = "TODO"
- var btn5F= "TODO"
- var url5F = "TODO"
- var title6A = "Sports App"
- var desc6A = "TODO"
- var btn6A= "TODO"
- var url6A = "TODO"
- var title6B = "arTalent"
- var desc6B = "TODO"
- var btn6B= "TODO"
- var url6B = "TODO"
- var title6C = "Relax360"
- var desc6C = "TODO"
- var btn6C= "TODO"
- var url6C = "TODO"
- var title6D = "Keyboard"
- var desc6D = "TODO"
- var btn6D= "TODO"
- var url6D = "TODO"
