include ./data.pug
include ./head/primary.pug
include ./head/google.pug
include ./head/facebook.pug
include ./head/twitter.pug
include ./head/analytics.pug
link(rel='stylesheet', href='dist/index.min.css')