include ./data.pug
include ./head/primary.pug
include ./head/google.pug
include ./head/facebook.pug
include ./head/twitter.pug
include ./head/favicon.pug
include ./head/analytics.pug
link(rel='preconnect' href='https://fonts.gstatic.com')
link(rel='stylesheet' href=fontsUrl)
link(rel='stylesheet' href='public/index.min.css')
