article.card
  .card__glows
  .card__thumbnail
    img(src=pathCard + '3H-thumbnail.png' alt='Search Box thumbnail')
  .card__badge
  h3.widget__title Street Art
  .widget__list
    ul
      li.badge.widget__tooltip-item
        span.widget__list-item Dev
  p Lorem ipsum
  a(href=pageUrl role='button').btn
    span Link
