.card__wrapper
  article.card
    .card__glows
    .card__thumbnail
      //- img placeholder
    .card__badge
      //- badge placeholder
      span placeholder
    h2 Title
    a(href='') Link
  article.card
    .card__glows
    .card__thumbnail
      //- img placeholder
    .card__badge
      //- badge placeholder
      //- <span>placeholder</span>
    h2 Search Box
    a(href='') Link
  article.card
    .card__glows
    .card__thumbnail
      //- img placeholder
    .card__badge
      //- badge placeholder
      span placeholder
    h2 Title
    a(href='') Link
