.card__wrapper
  include ./cards/3A-fragrances.pug
  include ./cards/3H-searchBox.pug
  include ./cards/3C-streetArt.pug
  include ./cards/3G-electronics.pug
  include ./cards/3F-beauty.pug
  include ./cards/3E-animation.pug
  include ./cards/3D-artGallery.pug
  include ./cards/3B-userFlow.pug
  include ./cards/2H-flightTracker.pug
  include ./cards/2G-bot.pug
  include ./cards/2F-game.pug
  include ./cards/2E-travel.pug
  include ./cards/2D-danceApp.pug
  include ./cards/2C-quizApp.pug
  include ./cards/2B-sportsApp.pug
  include ./cards/2A-designSystem.pug
  include ./cards/1D-ignet.pug
  include ./cards/1C-geoBike.pug
  include ./cards/1B-artsy.pug
  include ./cards/1A-fintech.pug