.cards__wrapper
  article
    .glows
    .header
      //- img placeholder
    .badge
      //- badge placeholder
      span placeholder
    h2 Title
    a(href='') Link
  article
    .glows
    .header
      //- img placeholder
    .badge
      //- badge placeholder
      //- <span>placeholder</span>
    h2 Search Box
    a(href='') Link
  article
    .glows
    .header
      //- img placeholder
    .badge
      //- badge placeholder
      span placeholder
    h2 Title
    a(href='') Link
