.card__wrapper
  include ./3A-fragrances.pug
  include ./3H-searchBox.pug
  include ./3C-streetArt.pug
  //- include ./3G-electronics.pug
  //- include ./3F-beauty.pug
  //- include ./3E-animation.pug
  //- include ./3D-artGallery.pug
  //- include ./3B-userFlow.pug
  //- include ./2H-flightTracker.pug
  //- include ./2G-bot.pug
  //- include ./2F-game.pug
  //- include ./2E-travel.pug
  //- include ./2D-danceApp.pug
  //- include ./2C-quizApp.pug
  //- include ./2B-sportsApp.pug
  //- include ./2A-designSystem.pug
  //- include ./1D-ignet.pug
  //- include ./1C-geoBike.pug
  //- include ./1B-artsy.pug
  //- include ./1A-fintech.pug