include badges/dates.pug
include badges/strings.pug
//- device goes here
.device__container
  .device__main
    .device__navigation-prev
      button
    .device__wrapper
      .device__screen
        .device__display
          .device__glass
            img(loading="lazy" src=pathCard + '5B-desktop-preview.gif' alt='App preview')
    .device__navigation-next
      button
  .device__meta
    h3.device__meta-title
    //- TODO? 
    //- div.device__meta-header
    //- ul.device__meta-list
      //- +2024
      //- +dev-badge
      //- +js-badge
      //- +sass-badge
      //- +rest-badge
    .device__meta-description
      p
    div.device__meta-footer
      a.widget__link.device__meta-button
        span.device__meta-link
        +svg-arrow
      .device__meta-bookmark
        button