.device__container
  .device__navigation-prev
    button PREV
  .device__wrapper
    .device
      .device__display
        .device__glass
          img(loading="lazy" src=pathCard + '3H-desktop-app-preview.gif' alt='Search Box app preview')
  .device__navigation-next
    button NEXT