.device__wrapper
  .device
    .display
      .glass
        //- <div class="viewport"></div>
        //- <img src="./img/3H-mobile-app-preview.gif" />
        //- img(src='./img/3H-desktop-app-preview.gif')
        img(src=pathCard + '3H-desktop-app-preview.gif' alt='Search Box app preview')
