.device__container
  .device__navigation-prev
    button
  .device__wrapper
    .device
      .device__display
        //- viewport goes here
        //- TODO alt text pass as a variable
        .device__glass
          img(loading="lazy" src=pathCard + '3H-desktop-app-preview.gif' alt='Search Box app preview')
  .device__navigation-next
    button
.device__meta
  h3.device__meta-title
  p.device__meta-description
  ul.device__meta-list
  a.device__meta-button
    span.device__meta-link