.device__container
  .device__navigation-prev
    //- TODO styles
    button PREV
  .device__wrapper
    .device
      .device__display
        //- viewport goes here
        //- TODO alt text pass as a variable
        .device__glass
          img(loading="lazy" src=pathCard + '3H-desktop-app-preview.gif' alt='Search Box app preview')
  .device__navigation-next
    button NEXT
  h3.device__h
  p.device__p
  div.device__labels
  div.device__link