article.widget__wrapper
  h3.widget__title Experience
  .widget__list
    h4.widget__bullet Front-End Developer
    ul
      li.widget__list-item.widget__tooltip-item
        | Amadeus IT Group
        img.widget__info(src='dist/img/info1.svg' alt='Ignet Info')
        .widget__tooltip-content
          h5 March 2018 - April 2020
          h6 Travel
          ul
            li HTML/CSS (SASS)
            li JavaScript (jQuery)
            li Git
            li Photoshop
            li CMS (e-Power)
            // https://amadeus.com/en/portfolio/retail-travel-agencies/e-power
      li.widget__list-item.widget__tooltip-item
        | Cheil Poland
        img.widget__info(src='dist/img/info1.svg' alt='Ignet Info')
        .widget__tooltip-content
          h5 Sep 2017 - Feb 2018
          // <h6>Technology stack:</h6>
          h6 Electronics
          ul
            li HTML/CSS
            li JavaScript (gulp, jQuery)
            li Git
            li Photoshop
            li CMS (AEM)
      li.widget__list-item.widget__tooltip-item
        | Hypermedia
        img.widget__info(src='dist/img/info1.svg' alt='Ignet Info')
        .widget__tooltip-content
          h5 Feb 2017 - Aug 2017
          h6 Fragrances
          ul
            li HTML/CSS (SASS)
            li JavaScript (ES6, jQuery)
            li Git
            li Photoshop
            li Vagrant, .NET (basics)
    h4.widget__bullet Freelancer
    ul
      li.widget__list-item.widget__tooltip-item
        | Ignet
        img.widget__info(src='dist/img/info1.svg' alt='Ignet Info')
        .widget__tooltip-content
          h5 Jan 2013 - Dec 2016
          h6 Advertising
          ul
            li HTML/CSS
    h4.widget__bullet Journalist
    ul
      li.widget__list-item.widget__tooltip-item
        | Polish Journalists Association
        img.widget__info(src='dist/img/info1.svg' alt='Ignet Info')
        .widget__tooltip-content
          h5 Jan 2013 - Dec 2016
          h6 Advertising
          ul
            li HTML/CSS
      li.widget__list-item.widget__tooltip-item
        | Dziennik
        img.widget__info(src='dist/img/info1.svg' alt='Ignet Info')
        .widget__tooltip-content
          h5 Jan 2013 - Dec 2016
          h6 Advertising
          ul
            li HTML/CSS
      // 2017-18 2017 (freelance) 2013-16 (CMS admin) 2010-12 (press) 2007-09
