article.widget__wrapper
  h3.widget__title Experience
  .widget__list
    h4 UI Developer
    ul
      li.widget__tooltip-item
        | PayComplete
        img.widget__info(src='dist/img/info.svg' alt='PayComplete' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 PayComplete
          .widget__tooltip-wrapper
            span.date 2021-23
            span.industry.badge Fintech
          ul
            li HTML / Tailwind
            li JS (React, TS)
            li Figma
            li GraphQL
            li Git
      br
    h4 Front-End Developer
    ul
      li.widget__tooltip-item
        | Amadeus
        img.widget__info(src='dist/img/info.svg' alt='Amadeus IT Group' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Amadeus
          .widget__tooltip-wrapper
            span.date 2018-20
            span.industry.badge Travel
          ul
            li HTML / SASS
            li JS (jQuery)
            li Photoshop
            li CMS (e-Power)
            li Git
      br
      li.widget__tooltip-item
        | Cheil
        img.widget__info(src='dist/img/info.svg' alt='Cheil' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Cheil
          .widget__tooltip-wrapper
            span.date 2017-18
            span.industry.badge Electronics
          ul
            li HTML / CSS
            li JS (gulp, jQuery)
            li Photoshop
            li CMS (AEM)
            li Git
      br
      li.widget__tooltip-item
        | Hypermedia
        img.widget__info(src='dist/img/info.svg' alt='Hypermedia' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 2017
          h6 Industry: Fragrances
          ul
            li HTML / SASS
            li JS (jQuery)
            li Photoshop
            li Node.js
            li Git
    h4.widget__tooltip-item
      | Freelancer
      img.widget__info(src='dist/img/info.svg' alt='Freelancer' tabindex='0')
      .widget__tooltip-content
        img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
        h5 Freelancer
        .widget__tooltip-wrapper
          span.date 2013-16
          span.industry.badge Ignet
        ul
          li HTML / CSS
          li JavaScript
          li Photoshop
          li CMS (WordPress)
          li SEO
    br
    h4.widget__tooltip-item
      | Journalist
      img.widget__info(src='dist/img/info.svg' alt='Journalist' tabindex='0')
      .widget__tooltip-content
        img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
        h5 Journalist
        .widget__tooltip-wrapper
          span.date 2007-12
          span.industry.badge // TODO
        //- h6 Polish Journalists Association (portal admin)
        //- h6 Press «Dziennik» (culture, foreign affairs, society & investigation)
