article.widget__wrapper
  h3.widget__title Experience
  .widget__list
    h4.widget__bullet Front-End Developer
    ul
      li.widget__list-item.widget__tooltip-item
        | Amadeus IT Group
        img.widget__info(src='dist/img/info.svg' alt='Amadeus IT Group' tabindex='0')
        .widget__tooltip-content
          h5 Mar 2018 - Apr 2020
          h6 Travel
          ul
            li HTML/CSS (SASS)
            li JavaScript (jQuery)
            li Git
            li Photoshop
            li CMS (e-Power)
            //- https://amadeus.com/en/portfolio/retail-travel-agencies/e-power
      br
      li.widget__list-item.widget__tooltip-item
        | Cheil Poland
        img.widget__info(src='dist/img/info.svg' alt='Cheil Poland' tabindex='0')
        .widget__tooltip-content
          h5 Sep 2017 - Feb 2018
          h6 Electronics
          ul
            li HTML/CSS
            li JavaScript (gulp, jQuery)
            li Git
            li Photoshop
            li CMS (AEM)
      br
      li.widget__list-item.widget__tooltip-item
        | Hypermedia
        img.widget__info(src='dist/img/info.svg' alt='Hypermedia' tabindex='0')
        .widget__tooltip-content
          h5 Feb 2017 - Aug 2017
          h6 Fragrances
          ul
            li HTML/CSS (SASS)
            li JavaScript (ES6, jQuery)
            li Git
            li Photoshop
            li Node.js, Vagrant, .NET (basics)
    h4.widget__bullet Freelancer
    ul
      li.widget__list-item.widget__tooltip-item
        | Ignet
        img.widget__info(src='dist/img/info.svg' alt='Ignet' tabindex='0')
        .widget__tooltip-content
          h5 Jan 2013 - Dec 2016
          h6 h6 content
          ul
            li HTML/CSS
            li JavaScript / PHP (basics)
            li SEO tools
            li Photoshop
            li CMS (WordPress)
    h4.widget__bullet Journalist
    ul
      li.widget__list-item.widget__tooltip-item
        | Polish Journalists Association
        img.widget__info(src='dist/img/info.svg' alt='Polish Journalists Association' tabindex='0')
        .widget__tooltip-content
          h5 Dec 2009 - Feb 2012
          h6 Admin
          ul
            li CMS (Drupal)
      br
      li.widget__list-item.widget__tooltip-item
        | Dziennik
        img.widget__info(src='dist/img/info.svg' alt='Dziennik' tabindex='0')
        .widget__tooltip-content
          h5 May 2007 - Jun 2009
          h6 Press
          ul
            li Culture
            li Foreign affairs
            li Society
            li Investigation
