article.widget__wrapper
  h3.widget__title Experience
  .widget__list
    h4 UI Developer
    ul.experience-list
      li.widget__tooltip-item
        span.widget__list-item.print-inline PayComplete
          img.widget__info(src='dist/img/info.svg' alt='PayComplete' tabindex='0')
          span.date.print-only 2021-23
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 PayComplete
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2021-23
            span.industry.badge Fintech
          ul
            li HTML / Tailwind
            li JS (React, TS)
            li Figma
            li GraphQL
            li Git
    h4 Front-End Developer
    ul.experience-list
      li.widget__tooltip-item
        span.widget__list-item.print-inline Amadeus
          img.widget__info(src='dist/img/info.svg' alt='Amadeus IT Group' tabindex='0')
          span.date.print-only 2018-20
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Amadeus
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2018-20
            span.industry.badge Travel
          ul
            li HTML / SASS
            li JS (jQuery)
            li Photoshop
            li CMS (e-Power)
            li Git
      li.widget__tooltip-item
        span.widget__list-item.print-inline Cheil
          img.widget__info(src='dist/img/info.svg' alt='Cheil' tabindex='0')
          span.date.print-only 2017-18
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Cheil
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2017-18
            span.industry.badge Electronics
          ul
            li HTML / CSS
            li JS (gulp, jQuery)
            li Photoshop
            li CMS (AEM)
            li Git
      li.widget__tooltip-item
        span.widget__list-item.print-inline Hypermedia
          img.widget__info(src='dist/img/info.svg' alt='Hypermedia' tabindex='0')
          span.date.print-only 2017
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Hypermedia
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2017
            span.industry.badge Beauty
          ul
            li HTML / SASS
            li JS (jQuery)
            li Photoshop
            li Node.js
            li Git
    h4 Solopreneur
    ul.experience-list
      li.widget__tooltip-item
        span.widget__list-item.print-inline Ignet
          img.widget__info(src='dist/img/info.svg' alt='Ignet' tabindex='0')
          span.date.print-only 2013-
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Ignet
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2013-
            span.industry.badge Freelance
          ul
            li HTML / CSS
            li JavaScript
            li Photoshop
            li CMS (WordPress)
            li SEO
    h4 Journalist
    ul.experience-list
      li.widget__tooltip-item
        span.widget__list-item.print-inline SDP
          img.widget__info(src='dist/img/info.svg' alt='SDP' tabindex='0')
          span.date.print-only 2010-12
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 SDP
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2010-12
            span.industry.badge NGO
          ul
            li Drupal
            li Portal admin
      li.widget__tooltip-item
        span.widget__list-item.print-inline Dziennik
          img.widget__info(src='dist/img/info.svg' alt='Dziennik' tabindex='0')
          span.date.print-only 2007-09
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Dziennik
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2007-09
            span.industry.badge Press
          ul
            li Culture
            li Foreign affairs
            li Society
            li Investigation
