article.widget__wrapper
  h3.widget__title Hello, world
  .widget__text
    p Currently I learn React combining it with my passion for developing online language quizzes.
    p I have an experience with complex, international IT projects.
    p I am interested in a position with possibilities of applying new technologies.
    p If you have any questions, don't hesitate to ping me.
