article.widget__wrapper
  h3.widget__title Hello, world
  .widget__text
    p
      != 'I am passionate about <strong>digital interactions</strong>. If you are as well, we can work through the project:'
    ul
      li.widget__tooltip-item
        span.widget__list-item Planning
          img.widget__info(src='dist/img/info.svg' alt='Planning' tabindex='0')
      br
      li.widget__tooltip-item
        span.widget__list-item Analysis
          img.widget__info(src='dist/img/info.svg' alt='Analysis' tabindex='0')
      br
      li.widget__tooltip-item
        span.widget__list-item
          != '<strong>Design</strong>'
          img.widget__info(src='dist/img/info.svg' alt='Design' tabindex='0')
      br
      li.widget__tooltip-item
        span.widget__list-item
          != '<strong>Development</strong>'
          img.widget__info(src='dist/img/info.svg' alt='Development' tabindex='0')
      br
      li.widget__tooltip-item
        span.widget__list-item Testing
          img.widget__info(src='dist/img/info.svg' alt='Testing' tabindex='0')
      br
      li.widget__tooltip-item
        span.widget__list-item Implementation
          img.widget__info(src='dist/img/info.svg' alt='Implementation' tabindex='0')
      br
      li.widget__tooltip-item
        span.widget__list-item Maintenance
          img.widget__info(src='dist/img/info.svg' alt='Maintenance' tabindex='0')
    p
      != 'Best Regards,<br>Jerzy'
      //-  (to gather requirements, by asking What does the customer really, really want? an)
      //-  (some erarly architecture, lo-fi wireframes)
      //-  (hi-fi wireframes Figma)
      //-  (reusable components Vue or React)
      //-  (integration / component / system / acceptance)
      //-  (day 0, when it will go to production)
      //-  (feature request, bug fixing)
