article.widget__wrapper
  h3.widget__title Hello
  .widget__text
    p Since 2017 I work as a professional contractor.
    p I have an experience with complex, international IT projects.
    p I am interested in an on-site position in Ljubljana, Slovenia. With possibilites of learning new technologies.
    p If you have any questions, don't hesitate to ping me.
