article.widget__wrapper
  h3.widget__title Hello
  .widget__text
    p Since 2017, I have worked as a professional contractor with experience in complex international IT projects.
    p I am interested in a position that allows me to apply new technologies.
    p Please let me know if you have any questions.
