article.widget__wrapper
  h3.widget__title Hello
  .widget__text
    p Since 2017 I work as a professional contractor.
    p I have an experience with complex, international IT projects.
    p I am interested in a position with possibilities of applying new technologies.
    p If you have any questions, please let me know.
