div.helpers__wrapper
  a#skip-nav.screenreader-text(href='#content' tabindex='0')
    | Skip to Content
  aside.helpers
    ul
      li.widget__tooltip-item
        button.toggle__btn.widget__info
        audio#switchOnAudio(src='https://ignet.com.pl/dist/audio/switch-on.mp3' hidden='')
        audio#switchOffAudio(src='https://ignet.com.pl/dist/audio/switch-off.mp3' hidden='')