article.widget__wrapper
  h3.widget__title Side Projects
  .widget__list
    a.widget__link(href='https://geobike.ai/' target='_blank')
      h4 GeoBike.ai
      svg(viewbox='0 0 16 19')
        polyline(points='0.5 19.5 3 19.5 12.5 10 3 0.5')
    ul
      li.widget__tooltip-item
        span.widget__list-item Sport app (prototype)
          img.widget__info(src='dist/img/info.svg' alt='Quizbox' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 GeoBike.ai
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2024-
          h6 Work in progress...
    a.widget__link(href='https://quizbox.pl/' target='_blank')
      h4 Quizbox
      svg(viewbox='0 0 16 19')
        polyline(points='0.5 19.5 3 19.5 12.5 10 3 0.5')
    ul
      li.widget__tooltip-item
        span.widget__list-item Language game
          img.widget__info(src='dist/img/info.svg' alt='Quizbox' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Quizbox
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2021
          h6 The aim of the game is to entertain the player, regardless of her / his level of proficiency in each language.
    a.widget__link(href='https://aignet.smallhost.pl/' target='_blank')
      h4 Flight tracker
      svg(viewbox='0 0 16 19')
        polyline(points='0.5 19.5 3 19.5 12.5 10 3 0.5')
    ul
      li.widget__tooltip-item
        span.widget__list-item Real-time data experiment
          img.widget__info(src='dist/img/info.svg' alt='LJWWA' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Flight tracker
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2020
          h6 View and update a list of assets on a map.
    h4 Nerdy
    ul
      li.widget__tooltip-item
        span.widget__list-item IT team
          img.widget__info(src='dist/img/info.svg' alt='Nerdy' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Nerdy
          .widget__tooltip-wrapper
            div
              img.calendar(src='dist/img/calendar.svg' alt='Date' tabindex='0')
              span.date 2018
          h6 I have participated in a few hackathons.
          //- ul
            //- li team mates: R. Bodych, M.Dmowski, G. Durtan, H. Kaźmierczak, M. Krawczyk, L. Mordasiewicz, P. Potrebka, M. Redecki, P. Robak, D. Zduńczyk
            //- li Edukaton
            //- ➟ Category Game 1st place, "Fake alert", game prototype, (Feb 2018)
            //- li Allegro Tech Days Hackathon
            //-  ➟ Grand Prix 2nd place, "Roweromir", Messenger Bot, (Jun 2018)
            //- li Hack Yeah
            //-  ➟ "Rail Chat Bot", (Nov 2018)
            //- li Hackathon+
            //-  ➟ "AS", proof of concept (MIIR), (Dec 2018)
