article.widget__wrapper
  h3.widget__title Side Projects
  .widget__list
    h4.widget__bullet Nerdy
    ul
      li.widget__list-item.widget__tooltip-item
        | IT team
        img.widget__info(src='dist/img/info1.svg' alt='Ignet Info')
        .widget__tooltip-content
          h5 2018 -
          h6 I have attended, with my team mates, a few hackathons recently.
          ul
            //- li (R. Bodych, M.Dmowski, G. Durtan, H. Kaźmierczak, M. Krawczyk, L. Mordasiewicz, P. Potrebka, M. Redecki, P. Robak, D. Zduńczyk)
            li Edukaton (Feb 2018), Category Game 1st place
            //- ➟ "Fake alert", game prototype
            li Allegro Tech Days Hackathon (Jun 2018), Grand Prix 2nd place
            //-  ➟ "Roweromir", Messenger Bot
            li Hack Yeah (Nov 2018)
            //-  ➟ "Rail Chat Bot"
            li Hackathon+ (Dec 2018)
            //-  ➟ "AS", proof of concept (MIIR)
    h4.widget__bullet Quizbox
    ul
      li.widget__list-item.widget__tooltip-item
        | Language game
        img.widget__info(src='dist/img/info1.svg' alt='Ignet Info')
        .widget__tooltip-content
          h5 In progress
          h6 link placeholder
          ul
            li The goal is to entertain the player, regardless of level of proficiency in each language.