article.widget__wrapper
  h3.widget__title Skills
  .widget__list
    ul
      li.badge HTML
      li.badge HTMX
      li.badge Pug
      li.badge SEO
      li.badge WCAG
      li.badge CSS
      li.badge Tailwind
      li.badge Bootstrap
      li.badge Git
      li.badge RWD
      li.badge SASS
      li.badge JavaScript
      li.badge React
      li.badge Vue
      li.badge TypeScript
      li.badge jQuery
      li.badge Git
      li.badge UI
      li.badge UX
      li.badge Design
