article.widget__wrapper
  h3.widget__title Skills
  .widget__list
    ul
      li.badge.widget__tooltip-item
        span.widget__list-item Astro
          img.widget__info(src='dist/img/infoAlt.svg' alt='Astro' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Astro
          ul
            li Static site generator
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Babel
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Babel' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Babel
      //-     ul
      //-       li Backwards compatible JavaScript compiler
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Bootstrap
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Bootstrap' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Bootstrap
      //-     ul
      //-       li front-end framework for web design
      li.badge.widget__tooltip-item
        span.widget__list-item Bun
          img.widget__info(src='dist/img/infoAlt.svg' alt='Bun' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Bun
          ul
            li JS runtime
      li.badge.widget__tooltip-item
        span.widget__list-item CSS
          img.widget__info(src='dist/img/infoAlt.svg' alt='CSS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 CSS
          ul
            li Style sheet language
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Design
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Design' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Design
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Docker
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Docker' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Docker
      //-     ul
      //-       li Software for deploying containerized applications
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item ESLint
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='ESLint' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 ESLint
      //-     ul
      //-       li JS code analysis software
      li.badge.widget__tooltip-item
        span.widget__list-item Git
          img.widget__info(src='dist/img/infoAlt.svg' alt='Git' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Git
          ul
            li Software for version control of files
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Gulp
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Gulp' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Gulp
      //-     ul
      //-       li Server-side JS framework
      li.badge.widget__tooltip-item
        span.widget__list-item HTML
          img.widget__info(src='dist/img/infoAlt.svg' alt='HTML' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 HTML
          ul
            li HyperText Markup Language
      li.badge.widget__tooltip-item
        span.widget__list-item HTMX
          img.widget__info(src='dist/img/infoAlt.svg' alt='HTMX' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 HTMX
          ul
            li HTML-focused UI library
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Hugging Face
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Hugging Face' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Hugging Face
      //-     ul
      //-       li Generative AI models
      li.badge.widget__tooltip-item
        span.widget__list-item JavaScript
          img.widget__info(src='dist/img/infoAlt.svg' alt='JavaScript' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 JavaScript
          ul
            li High-level programming language
      li.badge.widget__tooltip-item
        span.widget__list-item jQuery
          img.widget__info(src='dist/img/infoAlt.svg' alt='jQuery' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 jQuery
          ul
            li JS library
      li.badge.widget__tooltip-item
        span.widget__list-item Keystatic
          img.widget__info(src='dist/img/infoAlt.svg' alt='Keystatic' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Keystatic
          ul
            li Headless CMS
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Kubernetes
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Kubernetes' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Kubernetes
      //-     ul
      //-       li Software to manage containers on a server-cluster
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Node.js
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Node.js' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Node.js
      //-     ul
      //-       li JavaScript runtime environment
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item PHP
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='PHP' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 PHP
      //-     ul
      //-       li Scripting language
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Prettier
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Prettier' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Prettier
      //-     ul
      //-       li Code formatter
      li.badge.widget__tooltip-item
        span.widget__list-item NPM
          img.widget__info(src='dist/img/infoAlt.svg' alt='NPM' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 NPM
          ul
            li JS package manager
      li.badge.widget__tooltip-item
        span.widget__list-item Nue
          img.widget__info(src='dist/img/infoAlt.svg' alt='Nue' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Nue
          ul
            li Static site generator
      li.badge.widget__tooltip-item
        span.widget__list-item Master.css
          img.widget__info(src='dist/img/infoAlt.svg' alt='Master.css' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Master.css
          ul
            li CSS language and framework
      li.badge.widget__tooltip-item
        span.widget__list-item PostCSS
          img.widget__info(src='dist/img/infoAlt.svg' alt='PostCSS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 PostCSS
          ul
            li A tool for transforming styles with JS plugins
      li.badge.widget__tooltip-item
        span.widget__list-item Pug
          img.widget__info(src='dist/img/infoAlt.svg' alt='Pug' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Pug
          ul
            li Template engine for generating HTML
      li.badge.widget__tooltip-item
        span.widget__list-item React
          img.widget__info(src='dist/img/infoAlt.svg' alt='React' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 React
          ul
            li JS library for building UI
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight RWD
          img.widget__info(src='dist/img/infoAlt.svg' alt='RWD' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 RWD
          ul
            li Responsive web design
      li.badge.widget__tooltip-item
        span.widget__list-item SASS
          img.widget__info(src='dist/img/infoAlt.svg' alt='SASS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 SASS
          ul
            li CSS pre-processor
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item SEO
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='SEO' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 SEO
      //-     ul
      //-       li Search engine optimization
      li.badge.widget__tooltip-item
        span.widget__list-item Shadcn
          img.widget__info(src='dist/img/infoAlt.svg' alt='Shadcn' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Shadcn
          ul
            li Library for UI development
      li.badge.widget__tooltip-item
        span.widget__list-item Storybook
          img.widget__info(src='dist/img/infoAlt.svg' alt='Storybook' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Storybook
          ul
            li Playground for UI components
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight Tailwind
          img.widget__info(src='dist/img/infoAlt.svg' alt='Tailwind' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Tailwind
          ul
            li Web design front-end framework
      li.badge.widget__tooltip-item
        span.widget__list-item TypeScript
          img.widget__info(src='dist/img/infoAlt.svg' alt='TypeScript' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 TypeScript
          ul
            li Programming language and superset of JS
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item UI
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='UI' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 UI
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight UX
          img.widget__info(src='dist/img/infoAlt.svg' alt='UX' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 UX
          ul
            li User experience
      li.badge.widget__tooltip-item
        span.widget__list-item Vite
          img.widget__info(src='dist/img/infoAlt.svg' alt='Vite' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Vite
          ul
            li Local development server
      li.badge.widget__tooltip-item
        span.widget__list-item Vue
          img.widget__info(src='dist/img/infoAlt.svg' alt='Vue' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Vue
          ul
            li JS library for building UI
      li.badge.widget__tooltip-item
        span.widget__list-item WCAG
          img.widget__info(src='dist/img/infoAlt.svg' alt='WCAG' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 WCAG
          ul
            li Web Content Accessibility Guidelines
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Webpack
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Webpack' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Webpack
      //-     ul
      //-       li JS module bundler
