article.widget__wrapper
  h3.widget__title Skills
  .widget__list
    ul
      li HTML (HTMX / Pug / SEO / WCAG)
      li CSS (Tailwind / Bootstrap / RWD / SASS)
      li JavaScript (React / Vue / TypeScript / jQuery )
      li Git
      li UI development
      li UX design
