article.widget__wrapper
  h3.widget__title Skills
  .widget__list
    p CSS (Bootstrap / RWD / SASS)
    p Git
    p HTML (Pug / SEO / WCAG)
    p JavaScript (Gulp / jQuery / React)
    p Material Design (UI / UX)
    //- p Team Managment
    //- p Information Architecture
    //- p Game Development
