article.widget__wrapper
  h3.widget__title Skills
  .widget__list
    p HTML (HTMX / Pug / SEO / WCAG)
    p CSS (Tailwind / Bootstrap / RWD / SASS)
    p JavaScript (React / Vue / TypeScript / jQuery / Gulp )
    p UI / UX
    p Git
