article.widget__wrapper
  h3.widget__title Skills
  .widget__list
    ul
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Astro
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Astro' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Astro
      //-     ul
      //-       li Static site generator
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Babel
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Babel' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Babel
      //-     ul
      //-       li Backwards compatible JavaScript compiler
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Bootstrap
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Bootstrap' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Bootstrap
      //-     ul
      //-       li front-end framework for web design
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Bun
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Bun' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Bun
      //-     ul
      //-       li JS runtime
      li.badge.widget__tooltip-item
        span.widget__list-item
          span CSS
          img.widget__info(src='assets/img/infoAlt.svg' alt='CSS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 CSS
          ul
            li Style sheet language
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Design system
          img.widget__info(src='assets/img/infoAlt.svg' alt='Design system' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Design system
          ul
            li Set of reusable components
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Design thinking
          img.widget__info(src='assets/img/infoAlt.svg' alt='Design thinking' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Design thinking
          ul
            li Set of procedures
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Docker
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Docker' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Docker
      //-     ul
      //-       li Software for deploying containerized applications
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span ESLint
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='ESLint' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 ESLint
      //-     ul
      //-       li JS code analysis software
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Git
          img.widget__info(src='assets/img/infoAlt.svg' alt='Git' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Git
          ul
            li Software for version control of files
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Gulp
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Gulp' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Gulp
      //-     ul
      //-       li Server-side JS framework
      li.badge.widget__tooltip-item
        span.widget__list-item
          span HTML
          img.widget__info(src='assets/img/infoAlt.svg' alt='HTML' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 HTML
          ul
            li HyperText Markup Language
      li.badge.widget__tooltip-item
        span.widget__list-item
          span HTMX
          img.widget__info(src='assets/img/infoAlt.svg' alt='HTMX' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 HTMX
          ul
            li HTML-focused UI library
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Hugging Face
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Hugging Face' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Hugging Face
      //-     ul
      //-       li Generative AI models
      li.badge.widget__tooltip-item
        span.widget__list-item
          span JavaScript
          img.widget__info(src='assets/img/infoAlt.svg' alt='JavaScript' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 JavaScript
          ul
            li High-level programming language
      li.badge.widget__tooltip-item
        span.widget__list-item
          span jQuery
          img.widget__info(src='assets/img/infoAlt.svg' alt='jQuery' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 jQuery
          ul
            li JS library
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Keystatic
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Keystatic' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Keystatic
      //-     ul
      //-       li Headless CMS
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Kubernetes
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Kubernetes' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Kubernetes
      //-     ul
      //-       li Software to manage containers on a server-cluster
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Node.js
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Node.js' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Node.js
      //-     ul
      //-       li JavaScript runtime environment
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span PHP
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='PHP' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 PHP
      //-     ul
      //-       li Scripting language
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Prettier
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Prettier' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Prettier
      //-     ul
      //-       li Code formatter
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Motion design
          img.widget__info(src='assets/img/infoAlt.svg' alt='Motion design' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Motion design
          ul
            li Combination of text and design elements set to motion
      li.badge.widget__tooltip-item
        span.widget__list-item
          span NPM
          img.widget__info(src='assets/img/infoAlt.svg' alt='NPM' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 NPM
          ul
            li JS package manager
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Nue
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Nue' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Nue
      //-     ul
      //-       li Static site generator
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Master.css
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Master.css' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Master.css
      //-     ul
      //-       li CSS language and framework
      li.badge.widget__tooltip-item
        span.widget__list-item
          span PostCSS
          img.widget__info(src='assets/img/infoAlt.svg' alt='PostCSS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 PostCSS
          ul
            li A tool for transforming styles with JS plugins
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Prototyping
          img.widget__info(src='assets/img/infoAlt.svg' alt='Prototyping' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Prototyping
          ul
            li Early model to test a concept
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Pug
          img.widget__info(src='assets/img/infoAlt.svg' alt='Pug' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Pug
          ul
            li Template engine for generating HTML
      li.badge.widget__tooltip-item
        span.widget__list-item
          span React
          img.widget__info(src='assets/img/infoAlt.svg' alt='React' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 React
          ul
            li JS library for building UI
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight
          span RWD
          img.widget__info(src='assets/img/infoAlt.svg' alt='RWD' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 RWD
          ul
            li Responsive web design
      li.badge.widget__tooltip-item
        span.widget__list-item
          span SASS
          img.widget__info(src='assets/img/infoAlt.svg' alt='SASS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 SASS
          ul
            li CSS pre-processor
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span SEO
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='SEO' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 SEO
      //-     ul
      //-       li Search engine optimization
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Shadcn/UI
          img.widget__info(src='assets/img/infoAlt.svg' alt='Shadcn' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Shadcn/ui
          ul
            li Library for UI development
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Storybook
          img.widget__info(src='assets/img/infoAlt.svg' alt='Storybook' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Storybook
          ul
            li Playground for UI components
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight
          span Tailwind
          img.widget__info(src='assets/img/infoAlt.svg' alt='Tailwind' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Tailwind
          ul
            li Web design front-end framework
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span TypeScript
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='TypeScript' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 TypeScript
      //-     ul
      //-       li Programming language and superset of JS
      li.badge.widget__tooltip-item
        span.widget__list-item
          span UCD
          img.widget__info(src='assets/img/infoAlt.svg' alt='UCD' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 UCD
          ul
            li User-centered design
      li.badge.widget__tooltip-item
        span.widget__list-item
          span UI design
          img.widget__info(src='assets/img/infoAlt.svg' alt='UI design' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 UI design
          ul
            li User interfaces
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight
          span UX
          img.widget__info(src='assets/img/infoAlt.svg' alt='UX' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 UX
          ul
            li User experience
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Vite
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Vite' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Vite
      //-     ul
      //-       li Local development server
      li.badge.widget__tooltip-item
        span.widget__list-item
          span Vue
          img.widget__info(src='assets/img/infoAlt.svg' alt='Vue' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Vue
          ul
            li JS library for building UI
      li.badge.widget__tooltip-item
        span.widget__list-item
          span WCAG
          img.widget__info(src='assets/img/infoAlt.svg' alt='WCAG' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 WCAG
          ul
            li Web Content Accessibility Guidelines
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item
      //-     span Webpack
      //-     img.widget__info(src='assets/img/infoAlt.svg' alt='Webpack' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Webpack
      //-     ul
      //-       li JS module bundler
