article.widget__wrapper
  h3.widget__title Skills
  .widget__list
    ul
      li.badge.widget__tooltip-item
        span.widget__list-item Astro
          img.widget__info(src='dist/img/infoAlt.svg' alt='Astro' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Astro
          h6 Static site generator
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Babel
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Babel' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Babel
      //-     h6 Backwards compatible JavaScript compiler
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Bootstrap
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Bootstrap' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Bootstrap
      //-     h6 front-end framework for web design
      li.badge.widget__tooltip-item
        span.widget__list-item Bun
          img.widget__info(src='dist/img/infoAlt.svg' alt='Bun' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Bun
          h6 JS runtime
      li.badge.widget__tooltip-item
        span.widget__list-item CSS
          img.widget__info(src='dist/img/infoAlt.svg' alt='CSS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 CSS
          h6 Style sheet language
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Design
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Design' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Design
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Docker
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Docker' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Docker
      //-     h6 Software for deploying containerized applications
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item ESLint
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='ESLint' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 ESLint
      //-     h6 JS code analysis software
      li.badge.widget__tooltip-item
        span.widget__list-item Git
          img.widget__info(src='dist/img/infoAlt.svg' alt='Git' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Git
          h6 Software for version control of files
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Gulp
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Gulp' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Gulp
      //-     h6 Server-side JS framework
      li.badge.widget__tooltip-item
        span.widget__list-item HTML
          img.widget__info(src='dist/img/infoAlt.svg' alt='HTML' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 HTML
          h6 HyperText Markup Language
      li.badge.widget__tooltip-item
        span.widget__list-item HTMX
          img.widget__info(src='dist/img/infoAlt.svg' alt='HTMX' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 HTMX
          h6 HTML-focused UI library
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Hugging Face
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Hugging Face' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Hugging Face
      //-     h6 Generative AI models
      li.badge.widget__tooltip-item
        span.widget__list-item JavaScript
          img.widget__info(src='dist/img/infoAlt.svg' alt='JavaScript' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 JavaScript
          h6 High-level programming language
      li.badge.widget__tooltip-item
        span.widget__list-item jQuery
          img.widget__info(src='dist/img/infoAlt.svg' alt='jQuery' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 jQuery
          h6 JS library
      li.badge.widget__tooltip-item
        span.widget__list-item Keystatic
          img.widget__info(src='dist/img/infoAlt.svg' alt='Keystatic' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Keystatic
          h6 Headless CMS
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Kubernetes
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Kubernetes' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Kubernetes
      //-     h6 Software to manage containers on a server-cluster
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Node.js
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Node.js' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Node.js
      //-     h6 JavaScript runtime environment
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item PHP
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='PHP' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 PHP
      //-     h6 Scripting language
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Prettier
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Prettier' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Prettier
      //-     h6 Code formatter
      li.badge.widget__tooltip-item
        span.widget__list-item NPM
          img.widget__info(src='dist/img/infoAlt.svg' alt='NPM' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 NPM
          h6 JS package manager
      li.badge.widget__tooltip-item
        span.widget__list-item Nue
          img.widget__info(src='dist/img/infoAlt.svg' alt='Nue' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Nue
          h6 Static site generator
      li.badge.widget__tooltip-item
        span.widget__list-item Master.css
          img.widget__info(src='dist/img/infoAlt.svg' alt='Master.css' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Master.css
          h6 CSS language and framework
      li.badge.widget__tooltip-item
        span.widget__list-item PostCSS
          img.widget__info(src='dist/img/infoAlt.svg' alt='PostCSS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 PostCSS
          h6 A tool for transforming styles with JS plugins
      li.badge.widget__tooltip-item
        span.widget__list-item Pug
          img.widget__info(src='dist/img/infoAlt.svg' alt='Pug' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Pug
          h6 Template engine for generating HTML
      li.badge.widget__tooltip-item
        span.widget__list-item React
          img.widget__info(src='dist/img/infoAlt.svg' alt='React' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 React
          h6 JS library for building UI
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight RWD
          img.widget__info(src='dist/img/infoAlt.svg' alt='RWD' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 RWD
          h6 Responsive web design
      li.badge.widget__tooltip-item
        span.widget__list-item SASS
          img.widget__info(src='dist/img/infoAlt.svg' alt='SASS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 SASS
          h6 CSS pre-processor
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item SEO
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='SEO' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 SEO
      //-     h6 Search engine optimization
      li.badge.widget__tooltip-item
        span.widget__list-item Shadcn
          img.widget__info(src='dist/img/infoAlt.svg' alt='Shadcn' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Shadcn
          h6 Library for UI development
      li.badge.widget__tooltip-item
        span.widget__list-item Storybook
          img.widget__info(src='dist/img/infoAlt.svg' alt='Storybook' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Storybook
          h6 Playground for UI components
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight Tailwind
          img.widget__info(src='dist/img/infoAlt.svg' alt='Tailwind' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Tailwind
          h6 Web design front-end framework
      li.badge.widget__tooltip-item
        span.widget__list-item TypeScript
          img.widget__info(src='dist/img/infoAlt.svg' alt='TypeScript' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 TypeScript
          h6 Programming language and superset of JS
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item UI
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='UI' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 UI
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight UX
          img.widget__info(src='dist/img/infoAlt.svg' alt='UX' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 UX
          h6 User experience
      li.badge.widget__tooltip-item
        span.widget__list-item Vite
          img.widget__info(src='dist/img/infoAlt.svg' alt='Vite' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Vite
          h6 Local development server
      li.badge.widget__tooltip-item
        span.widget__list-item Vue
          img.widget__info(src='dist/img/infoAlt.svg' alt='Vue' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Vue
          h6 JS library for building UI
      li.badge.widget__tooltip-item
        span.widget__list-item WCAG
          img.widget__info(src='dist/img/infoAlt.svg' alt='WCAG' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 WCAG
          h6 Web Content Accessibility Guidelines
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Webpack
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Webpack' tabindex='0')
      //-   .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Webpack
      //-     h6 JS module bundler
