article.widget__wrapper
  h3.widget__title Skills
  .widget__list
    p
      strong HTML
      |  / Pug / WCAG / SEO
    p
      | CSS / 
      strong SASS
      |  / RWD
    p JavaScript / jQuery / Gulp
    p User Experience
    p User Interface
    p Material Design
    p
      strong Bootstrap
    //
      <p>Team Managment</p>
      <p>Information Architecture</p>
      <p>Game Development</p>