article.widget__wrapper
  h3.widget__title Software
  .widget__list
    ul
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item AI
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='AI' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 AI
      //-     ul
      //-       li Artificial intelligence
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item ChatGPT
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='ChatGPT' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 ChatGPT
      //-     ul
      //-       li AI chatbot
      li.badge.widget__tooltip-item
        span.widget__list-item CLI
          img.widget__info(src='dist/img/infoAlt.svg' alt='CLI' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 CLI
          ul
            li Command-line interface
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item CMS
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='CMS' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 CMS
      //-     ul
      //-       li Content management system
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight Dev Tools
          img.widget__info(src='dist/img/infoAlt.svg' alt='Dev Tools' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Dev Tools
          ul
            li Browser web development tools
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight Figma
          img.widget__info(src='dist/img/infoAlt.svg' alt='Figma' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Figma
          ul
            li Online collaborative vector graphics editor
      li.badge.widget__tooltip-item
        span.widget__list-item Framer
          img.widget__info(src='dist/img/infoAlt.svg' alt='Framer' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Framer
          ul
            li Design, prototyping and developer handoff tool
      li.badge.widget__tooltip-item
        span.widget__list-item InVision
          img.widget__info(src='dist/img/infoAlt.svg' alt='InVision' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 InVision
          ul
            li Web-based prototyping tool
      li.badge.widget__tooltip-item
        span.widget__list-item JIRA
          img.widget__info(src='dist/img/infoAlt.svg' alt='JIRA' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 JIRA
          ul
            li Issue-tracking product
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item Jitter
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='Jitter' tabindex='0')
      //-   .widget__tooltip-content
      //-     img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 Jitter
      //-     ul
      //-       li Motion design tool
      li.badge.widget__tooltip-item
        span.widget__list-item MacOS
          img.widget__info(src='dist/img/infoAlt.svg' alt='MacOS' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Mac
          ul
            li OS of choice
      li.badge.widget__tooltip-item
        span.widget__list-item Miro
          img.widget__info(src='dist/img/infoAlt.svg' alt='Miro' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Miro
          ul
            li Collaboration platform
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item MidJourney
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='MidJourney' tabindex='0')
      //-   .widget__tooltip-content
              img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
      //-     h5 MidJourney
      //-     ul
      //-       li Image-generating machine learning model
      li.badge.widget__tooltip-item
        span.widget__list-item Photoshop
          img.widget__info(src='dist/img/infoAlt.svg' alt='Photoshop' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Adobe Photoshop
          ul
            li Raster graphics editing software
      li.badge.widget__tooltip-item
        span.widget__list-item Rive
          img.widget__info(src='dist/img/infoAlt.svg' alt='Rive' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Rive
          ul
            li Design tool
      li.badge.widget__tooltip-item
        span.widget__list-item Sketch
          img.widget__info(src='dist/img/infoAlt.svg' alt='Sketch' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Sketch
          ul
            li Vector graphics editing software
      li.badge.widget__tooltip-item
        span.widget__list-item v0.dev
          img.widget__info(src='dist/img/infoAlt.svg' alt='v0.dev' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 v0.dev
          ul
            li Generative UI system
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight VS Code
          img.widget__info(src='dist/img/infoAlt.svg' alt='VS Code' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Visual Studio Code
          ul
            li Source code editor of choice
      li.badge.widget__tooltip-item
        span.widget__list-item XD
          img.widget__info(src='dist/img/infoAlt.svg' alt='XD' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Adobe XD
          ul
            li Web prototyping and design tool
      li.badge.widget__tooltip-item
        span.widget__list-item Zeplin
          img.widget__info(src='dist/img/infoAlt.svg' alt='Zeplin' tabindex='0')
        .widget__tooltip-content
          img.widget__tooltip-close(src='dist/img/close.svg' alt='Close tooltip' tabindex='0')
          h5 Zeplin
          ul
            li Collaboration tool
