article.widget__wrapper
  h3.widget__title Software
  .widget__list
    ul
      li Figma / Photoshop / Sketch
      li AI (v0.dev, ChatGPT, Midjourney)
      li CMS / JIRA
      li Dev Tools
      li Command Line Interface
      li VS Code
