article.widget__wrapper
  h3.widget__title Software
  .widget__list
    p Photoshop / Figma / Sketch
    p Command Line Interface
    p
      strong Dev Tools
    p
      strong VS Code
      |  / WebStorm
    p Git Repo Management
    p CMS
    p JIRA