article.widget__wrapper
  h3.widget__title Software
  .widget__list
    p Figma / Photoshop / Sketch
    p AI (v0.dev, ChatGPT, Midjourney)
    p CMS / JIRA
    p Dev Tools
    p Command Line Interface
    p VS Code
