article.widget__wrapper
  h3.widget__title Software
  .widget__list
    ul
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item AI
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='AI' tabindex='0')
      //-   .widget__tooltip-content
      //-     h5 AI
      //-     h6 Artificial intelligence
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item ChatGPT
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='ChatGPT' tabindex='0')
      //-   .widget__tooltip-content
      //-     h5 ChatGPT
      //-     h6 AI chatbot
      li.badge.widget__tooltip-item
        span.widget__list-item CLI
          img.widget__info(src='dist/img/infoAlt.svg' alt='CLI' tabindex='0')
        .widget__tooltip-content
          h5 CLI
          h6 Command-line interface
      li.badge.widget__tooltip-item
        span.widget__list-item CMS
          img.widget__info(src='dist/img/infoAlt.svg' alt='CMS' tabindex='0')
        .widget__tooltip-content
          h5 CMS
          h6 Content management system
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight Dev Tools
          img.widget__info(src='dist/img/infoAlt.svg' alt='Dev Tools' tabindex='0')
        .widget__tooltip-content
          h5 Dev Tools
          h6 Web development tools
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight Figma
          img.widget__info(src='dist/img/infoAlt.svg' alt='Figma' tabindex='0')
        .widget__tooltip-content
          h5 Figma
          h6 Online collaborative vector graphics editor
      li.badge.widget__tooltip-item
        span.widget__list-item Framer
          img.widget__info(src='dist/img/infoAlt.svg' alt='Framer' tabindex='0')
        .widget__tooltip-content
          h5 Framer
          h6 Design, prototyping and developer handoff tool
      li.badge.widget__tooltip-item
        span.widget__list-item Mac
          img.widget__info(src='dist/img/infoAlt.svg' alt='Mac' tabindex='0')
        .widget__tooltip-content
          h5 Mac
          h6 OS of choice
      li.badge.widget__tooltip-item
        span.widget__list-item JIRA
          img.widget__info(src='dist/img/infoAlt.svg' alt='JIRA' tabindex='0')
        .widget__tooltip-content
          h5 JIRA
          h6 Issue-tracking product
      //- li.badge.widget__tooltip-item
      //-   span.widget__list-item MidJourney
      //-     img.widget__info(src='dist/img/infoAlt.svg' alt='MidJourney' tabindex='0')
      //-   .widget__tooltip-content
      //-     h5 MidJourney
      //-     h6 Image-generating machine learning model
      li.badge.widget__tooltip-item
        span.widget__list-item Photoshop
          img.widget__info(src='dist/img/infoAlt.svg' alt='Photoshop' tabindex='0')
        .widget__tooltip-content
          h5 Photoshop
          h6 Raster graphics editing software
      li.badge.widget__tooltip-item
        span.widget__list-item Sketch
          img.widget__info(src='dist/img/infoAlt.svg' alt='Sketch' tabindex='0')
        .widget__tooltip-content
          h5 Sketch
          h6 Vector graphics editing software
      li.badge.widget__tooltip-item
        span.widget__list-item v0.dev
          img.widget__info(src='dist/img/infoAlt.svg' alt='v0.dev' tabindex='0')
        .widget__tooltip-content
          h5 v0.dev
          h6 Generative UI system
      li.badge.widget__tooltip-item
        span.widget__list-item.highlight VS Code
          img.widget__info(src='dist/img/infoAlt.svg' alt='VS Code' tabindex='0')
        .widget__tooltip-content
          h5 VS Code
          h6 Source code editor
      li.badge.widget__tooltip-item
        span.widget__list-item XD
          img.widget__info(src='dist/img/infoAlt.svg' alt='XD' tabindex='0')
        .widget__tooltip-content
          h5 XD
          h6 Web prototyping and design tool
