article.widget__wrapper
  h3.widget__title Software
  .widget__list
    ul
      li.badge AI
      li.badge ChatGPT
      li.badge CLI
      li.badge CMS
      li.badge Dev Tools
      li.badge Figma
      li.badge Framer
      li.badge JIRA
      li.badge MidJourney
      li.badge Photoshop
      li.badge Sketch
      li.badge v0.dev
      li.badge VS Code
      li.badge XD
