article.widget__wrapper
  h3.widget__title Software
  .widget__list
    ul
      //- li.badge.widget__tooltip-item
      //-   span AI
      //-   img.widget__info(src='dist/img/infoAlt.svg' alt='AI' tabindex='0')
      //-   .widget__tooltip-content
      //-     h5 AI
      //- li.badge.widget__tooltip-item
      //-   span ChatGPT
      //-   img.widget__info(src='dist/img/infoAlt.svg' alt='ChatGPT' tabindex='0')
      //-   .widget__tooltip-content
      //-     h5 ChatGPT
      li.badge.widget__tooltip-item
        span CLI
        img.widget__info(src='dist/img/infoAlt.svg' alt='CLI' tabindex='0')
        .widget__tooltip-content
          h5 CLI
      li.badge.widget__tooltip-item
        span CMS
        img.widget__info(src='dist/img/infoAlt.svg' alt='CMS' tabindex='0')
        .widget__tooltip-content
          h5 CMS
      li.badge.widget__tooltip-item
        span Dev Tools
        img.widget__info(src='dist/img/infoAlt.svg' alt='Dev Tools' tabindex='0')
        .widget__tooltip-content
          h5 Dev Tools
      li.badge.widget__tooltip-item
        span Figma
        img.widget__info(src='dist/img/infoAlt.svg' alt='Figma' tabindex='0')
        .widget__tooltip-content
          h5 Figma
      li.badge.widget__tooltip-item
        span Framer
        img.widget__info(src='dist/img/infoAlt.svg' alt='Framer' tabindex='0')
        .widget__tooltip-content
          h5 Framer
      li.badge.widget__tooltip-item
        span JIRA
        img.widget__info(src='dist/img/infoAlt.svg' alt='JIRA' tabindex='0')
        .widget__tooltip-content
          h5 JIRA
      //- li.badge.widget__tooltip-item
      //-   span MidJourney
      //-   img.widget__info(src='dist/img/infoAlt.svg' alt='MidJourney' tabindex='0')
      //-   .widget__tooltip-content
      //-     h5 MidJourney
      li.badge.widget__tooltip-item
        span Photoshop
        img.widget__info(src='dist/img/infoAlt.svg' alt='Photoshop' tabindex='0')
        .widget__tooltip-content
          h5 Photoshop
      li.badge.widget__tooltip-item
        span Sketch
        img.widget__info(src='dist/img/infoAlt.svg' alt='Sketch' tabindex='0')
        .widget__tooltip-content
          h5 Sketch
      li.badge.widget__tooltip-item
        span v0.dev
        img.widget__info(src='dist/img/infoAlt.svg' alt='v0.dev' tabindex='0')
        .widget__tooltip-content
          h5 v0.dev
      li.badge.widget__tooltip-item
        span VS Code
        img.widget__info(src='dist/img/infoAlt.svg' alt='VS Code' tabindex='0')
        .widget__tooltip-content
          h5 VS Code
      li.badge.widget__tooltip-item
        span XD
        img.widget__info(src='dist/img/infoAlt.svg' alt='XD' tabindex='0')
        .widget__tooltip-content
          h5 XD
