article.widget__wrapper
  h3.widget__title Studies
  .widget__list
    h4.widget__bullet Front-End Development
    ul
      li.widget__list-item.widget__tooltip-item
        | PgD, Bialystok University of Technology
        img.widget__info(src='dist/img/info.svg' alt='Bialystok University of Technology' tabindex='0')
        .widget__tooltip-content
          h5 Oct 2015 - Jun 2016
          h6 Faculty of Computer Science
          ul
            li Postgraduate diploma
    h4.widget__bullet Management
    ul
      li.widget__list-item.widget__tooltip-item
        | Warsaw School of Information Technology
        img.widget__info(src='dist/img/info.svg' alt='Warsaw School of Information Technology' tabindex='0')
        .widget__tooltip-content
          h5 Oct 2014 - Jun 2015
          h6 Faculty of IT Project Management
          ul
            li Abandoned
    h4.widget__bullet Journalism
    ul
      li.widget__list-item.widget__tooltip-item
        | MA, University of Warsaw
        img.widget__info(src='dist/img/info.svg' alt='University of Warsaw' tabindex='0')
        .widget__tooltip-content
          h5 Oct 2004 - Jun 2009
          h6 Faculty of Political Science and International Studies
          ul
            li Master of Arts
