/* BUTTON */

.btn {
    @include border-radius;
    background-image: $gradient-invert;
    display: block;
    position: relative;
    height: auto;
    width: 8em;
    padding: 0.25em;
    border-radius: 2em;
    text-decoration: none;

    @include xs-max {
        width: auto;
    }

    span {
        @include flex-center;
        @include text-uppercase;
        @include transition-all;
        background: $color-primary;
        height: 100%;
        width: 100%;
        padding: 0.75em;
        border-radius: 2em;
        color: $color-side;
        font-size: 1em;
    }

    &:hover span {
        background: transparent;
        color: $color-primary;
    }
}
