/* COMMON */

@use '../base/rwd' as *;
@use '../base/flex' as *;
@use '../base/colors' as *;
@use '../base/mixins' as *;
@use '../base/opacity' as *;
@use '../base/animations' as *;
@use '../base/layers' as *;
@use '../base/fonts' as *;
@use '../base/button' as *;
@use '../base/flex' as *;
@use '../base/borders' as *;
@use '../base/invert' as *;

* {
    box-sizing: border-box;
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

html {
    cursor: url('https://ignet.com.pl/dist/img/cursor.svg'), auto;
}

body {
    @include main-font;
    @include text-thin;
    @include opacity-animation;
    @include transition-filter;
    @include scroll-bar;
    @include text-selection;
    position: relative;
    animation: intro linear 1s;
    background: $color-side;

    @include lg-max {
        background: $color-primary;
    }
}

a {
    color: $color-side;
}

button,
a,
img {
    cursor: url('https://ignet.com.pl/dist/img/pointer.svg'), pointer;

    &:focus {
        outline: 2px dashed $color-wcag;
    }
}

strong {
    @include text-bold;
}

br {
    visibility: hidden;

    &.print-only {
        display: none;
    }
}

.helpers {
    @include layer-back;
    position: absolute;
    top: -4em;
    right: 0.25em;

    @include lg-max {
        top: 0;
    }

    @include xl-min {
        top: -4.5em;
        right: 0.5em;
    }

    &__wrapper {
        position: relative;
    }

    .widget__tooltip-item {
        display: flex;
        margin: 1em;
    }

    button.widget__info:hover + .widget__tooltip-content,
    button.widget__info:focus + .widget__tooltip-content {
        @include full-opacity;
        top: -0.25em;
        left: auto;
        right: 46px;
        min-width: 185px;

        @include lg-max {
            right: 43px;
        }
    }

    .widget__tooltip-content {
        width: min-content;

        h5 {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    .toggle__btn {
        background: url('https://ignet.com.pl/dist/img/sun.svg') no-repeat;
        width: 32px;
        height: 32px;
        border: 0;
        top: 0;
        left: 0;

        @include lg-max {
            background: url('https://ignet.com.pl/dist/img/sunAlt.svg') no-repeat;
        }
    }
}

.wrapper {
    @include flex-center;
    @include text-desktop;
    height: calc(100vh - 9em);
    width: auto;
    color: $color-side;
    background: $color-primary;

    @include lg-min {
        @include sharp-radius;
    }

    @include xl-max {
        height: calc(100vh - 1em);
    }
}

.btn {
    @include button-default;
}

footer.gdpr__wrapper {
    display: none;
}

.footer {
    &__scroll-top {
        @include square-button;
        position: relative;
        button {
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 1rem;
            background: url('https://ignet.com.pl/dist/img/scrollTop.svg') no-repeat;
        }
    }
}
