/* UTILS */

* {
    box-sizing: border-box;
}

html {
    cursor: url("../dist/img/cursor.svg"), auto;
}

body {
    @include main-font;
    background: $color-side;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 0.75em;
    }

    &::-webkit-scrollbar-thumb {
        @include border-radius;
        @include box-shadow;
        background: linear-gradient(to bottom, $color-violet, $color-orchid);
    }

    &::-webkit-scrollbar-track {
        background: $color-side;
    }

    @include lg-max {
        background: $color-primary;
    }
}

a,
img {
    cursor: url("../dist/img/pointer.svg"), pointer;
}

strong {
    @include text-bold;
}

.wrapper {
    @include flex-center;
    @include main-font;
    height: calc(100vh - 9em);
    width: auto;
    color: $color-side;
    font-size: 1em;
    background: $color-primary;

    @include lg-min {
        @include border-radius;
    }

    @include xl-max {
        height: calc(100vh - 7em);
    }

    @include xl-max {
        height: calc(100vh - 1em);
    }
}

.xs-only {
    display: none;

    @media screen and (max-width: 430px) {
        display: initial;
    }
}

::selection {
    background-color: $color-violet;
    color: $color-primary;
}
