/* COMMON */

* {
    box-sizing: border-box;
}

html {
    cursor: url("../dist/img/cursor.svg"), auto;
}

body {
    @include main-font;
    @include opacity-animation;
    @include transition-filter;
    @include scroll-bar;
    @include text-selection;
    position: relative;
    animation: intro linear 1s;
    background: $color-side;

    @include lg-max {
        background: $color-primary;
    }
}

button,
a,
img {
    cursor: url("../dist/img/pointer.svg"), pointer;

    &:focus {
        outline: 2px solid $color-orchid;
    }
}

br {
    visibility: hidden;
}

.helpers {
    position: absolute;
    top: -4em;
    right: 0.25em;
    z-index: 1;

    @include lg-max {
        top: 0;
    }

    .widget__tooltip-item {
        display: flex;
        margin: 1em;
    }

    button.widget__info:hover+.widget__tooltip-content,
    button.widget__info:focus+.widget__tooltip-content {
        opacity: 1;
        top: -0.25em;
        left: auto;
        right: 46px;
        min-width: 185px;

        @include lg-max {
            right: 43px;
        }
    }

    .widget__tooltip-content {
        width: min-content;

        h5 {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    .toggle__btn {
        background: url("../dist/img/sun.svg") no-repeat;
        width: 32px;
        height: 32px;
        border: 0;
        top: 0;
        left: 0;

        @include lg-max {
            background: url("../dist/img/sunAlt.svg") no-repeat;
        }
    }
}

.wrapper {
    @include flex-center;
    @include main-font;
    @include text-size;
    height: calc(100vh - 9em);
    width: auto;
    color: $color-side;
    background: $color-primary;

    @include lg-min {
        @include border-radius;
    }

    @include xl-max {
        height: calc(100vh - 1em);
    }
}

footer {
    position: absolute;
    bottom: -4em;
    right: 0.25em;
    z-index: 1;

    @include lg-max {
        bottom: 0;
    }

    .widget__tooltip-item {
        display: flex;
        margin: 1em;
    }

    button.widget__info:hover+.widget__tooltip-content,
    button.widget__info:focus+.widget__tooltip-content {
        opacity: 1;
        top: -5px;
        left: auto;
        right: 46px;
        min-width: 185px;

        @include lg-max {
            right: 43px;
        }
    }

    .widget__tooltip-content {
        width: max-content;

        h5 {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    .toggle__btn {
        background: url("../dist/img/cookieAlt.svg") no-repeat;
        width: 32px;
        height: 32px;
        border: 0;
        bottom: 0;
        right: 0;

        @include lg-max {
            background: url("../dist/img/cookie.svg") no-repeat;
        }
    }
}
