/* DARK MODE */

@use '../base/colors' as *;
@use '../base/invert' as *;
@use '../base/opacity' as *;
@use '../base/animations' as *;
@use '../base/rwd' as *;

.dark-mode {
    @include color-invert;
    @include transition-filter;

    &::-webkit-scrollbar-thumb {
        background: $gradient-alt;
    }

    .helpers {
        .toggle__btn {
            background: url('https://ignet.com.pl/dist/img/moon.svg') no-repeat;

            @include lg-max {
                background: url('https://ignet.com.pl/dist/img/moonAlt.svg') no-repeat;
            }

            &:focus {
                outline: 2px dashed $color-wcag-invert;
            }
        }
    }

    .widget__list-item:focus {
        outline: 2px dashed $color-wcag-invert;
    }

    .widget .widget__info {
        cursor: url('https://ignet.com.pl/dist/img/cursor.svg'), auto;

        &:focus {
            outline: 2px dashed $color-wcag-invert;
        }
    }

    .entry {
        ul {
            img:focus {
                outline: 2px dashed $color-wcag-invert;
            }
        }
    }

    .content {
        &__inner {
            &.overlayed {
                @include background-opacity($color-primary, 0.75);
            }
        }
    }

    img.widget__info:hover + .widget__tooltip-content,
    img.widget__info:focus + .widget__tooltip-content {
        @include sm-max {
            top: auto;
        }
    }

    .widget__wrapper:last-child {
        img.widget__info:hover + .widget__tooltip-content,
        img.widget__info:focus + .widget__tooltip-content {
            @include sm-max {
                bottom: -1em;
            }
        }
    }

    .spaceman {
        .invert {
            @include color-invert;
        }
    }
}
