/* DARK MODE */

.dark-mode {
    @include color-invert;
    @include transition-filter;

    &::-webkit-scrollbar-thumb {
        background: $gradient-alt;
    }

    .helpers {
        .toggle__btn {
            background: url("../dist/img/moon.svg") no-repeat;


            @include lg-max {
                background: url("../dist/img/moonAlt.svg") no-repeat;
            }

            @include lg-min {
                @include color-invert;
            }

            &:focus {
                outline: 2px solid $color-green;
            }
        }
    }

    footer {
        .toggle__btn {
            @include lg-min {
                @include color-invert;
            }
        }
    }

    .content {
        &__inner {
            &.overlayed {
                @include background-opacity($color-primary, 0.75);
            }
        }
    }

    img.widget__info:hover+.widget__tooltip-content,
    img.widget__info:focus+.widget__tooltip-content {
        @include sm-max {
            top: auto;
        }
    }

    .widget__wrapper:last-child {

        img.widget__info:hover+.widget__tooltip-content,
        img.widget__info:focus+.widget__tooltip-content {
            @include sm-max {
                bottom: -1em;
            }
        }
    }
}

// Safari mobile bug fixes
@include sm-max {

    _::-webkit-full-page-media,
    _:future,
    :root .dark-mode {
        transition: none;
    }
}
