/* PRINT */

@media print {
    @page {
        size: A4;
        margin: 0;
    }
    .content {
        margin: 0 auto;
        padding: 0;
        max-width: 100vw;
        &__inner {
            padding-bottom: 0;
        }
    }
    .entry {
        margin-bottom: 5mm;
        h1 {
            font-size: 52pt;
            letter-spacing: 0.2px;
            padding-bottom: 4mm;
        }
        h2 {
            font-size: 25pt;
        }
        ul {
            img {
                width: 40px;
            }
        }
        &__contact {
            &-direct {
                margin-left: 2mm;
            }
            &-media {
                margin-right: 2mm;
            }
        }
    }
    .widget {
        grid-template-columns: repeat(3, 1fr);
        &__wrapper {
            padding: 0;
            margin-top: 3mm;
            &:nth-child(-n + 4) {
                height: 10.25cm;
            }
            &:nth-child(n + 4) {
                height: 5cm;
            }
        }
        &__title {
            color: $color-side;
            font-size: 17pt;
            -webkit-text-fill-color: inherit;
            padding: 0.35cm 0 0.35cm 0.35cm;
        }
        &__text,
        &__list {
            padding: 0.45cm 0.35cm 0 0.35cm;
        }
        &__info {
            display: none;
        }
        h4 {
            font-size: 13pt;
            margin-bottom: 1mm;
        }
        p {
            font-size: 10pt;
            orphans: 2;
            widows: 3;
            line-height: 1.75;
        }
        ul {
            li {
                font-size: 10pt;
                line-height: 1.75;
                &::before {
                    content: "";
                    margin-right: 0;
                }
            }
        }
    }
    .entry__cv,
    footer {
        display: none;
    }
    .entry__url {
        display: flex;
    }
}
