/* PRINT */

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    body {
        background: $color-primary;
    }

    .content {
        position: relative;
        margin: 0 auto;
        padding: 0;
        max-width: 100vw;
        background: $color-primary;

        &__inner {
            padding-bottom: 0;
        }

        footer {
            display: inline-block;
            position: absolute;
            bottom: 42pt;
            left: 50pt;
            max-width: 66%;
            .gdpr__clause {
                font-size: 8pt;
                color: $color-side;
                line-height: 1.25;
            }
        }
    }

    .entry {
        margin: 0;

        h1 {
            font-size: 50pt;
            padding-bottom: 4pt;
            line-height: 1;
        }

        h2 {
            background: $color-primary;
            font-size: 30pt;
            -webkit-text-fill-color: $color-side;
            margin-bottom: 8pt;
        }

        &__contact-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 12pt;
            margin: 0 0 5pt 0;

            ul.entry__contact-direct,
            ul.entry__contact-media {
                display: none;
            }

            ul.print-only {
                display: flex;
                margin: 0;

                a {
                    @include text-print;
                    @include text-bold;
                    display: inline-flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    color: $color-side;
                }

                img {
                    width: 20pt;
                    opacity: 1;
                    margin: 0 7pt;
                }
            }
        }
    }

    .widget {
        grid-template-columns: repeat(3, 1fr);
        gap: 14pt;

        &__wrapper {
            padding: 0;
            margin: 0;

            &:nth-child(-n + 4) {
                width: 157pt;
                height: 333pt;
                & > .widget__list {
                    margin-top: 0;
                }
            }

            &:nth-child(n + 4) {
                width: 157pt;
                height: auto;
                & > .widget__list {
                    margin-top: 3pt;
                }
            }
        }

        &__title {
            background: $color-primary;
            color: $color-side;
            font-size: 17pt;
            -webkit-text-fill-color: inherit;
            padding: 10pt 0 5pt 10pt;
        }

        &__text,
        &__list {
            padding: 13pt 10pt 0 10pt;
        }

        &__list-item {
            &.print-inline {
                display: inline;
                span.date.print-only {
                    @include rounded-gradient;
                    @include text-print;
                    @include side-font;
                    display: inline;
                    background: $color-white;
                    padding: 1pt 3pt;
                    margin: 1pt 0 0 3pt;
                    color: $color-side;
                }
            }
        }

        &__info {
            display: none;
        }

        &__print-only {
            display: flex;
        }

        h4 {
            font-size: 13pt;
            margin-bottom: 3pt;

            &:not(:first-of-type) {
                margin-top: 4pt;
            }

            &.web-only {
                display: none;
            }
        }

        p {
            @include text-print;
            @include text-height;
            orphans: 2;
            widows: 3;
        }

        ul {
            &.web-only {
                display: none;
            }

            &.experience-list {
                gap: 3pt;
            }

            li:not(.badge) {
                @include text-print;
                line-height: 1.5;

                &::before {
                    -webkit-text-fill-color: $color-violet;
                    background: $color-primary;
                    margin-left: 1pt;
                }
            }

            li:not(.hello-item) {
                margin: -3pt 0 3pt;
            }

            li.contact {
                padding: 0;
                span {
                    text-decoration: underline;
                }
            }

            li.badge,
            li.contact {
                @include rounded-gradient;
                background: $color-white;
                padding: 1.5pt;
                margin: 0 2pt 4pt 0;
                span {
                    @include text-print;
                    @include side-font;
                    color: $color-side;
                }
                svg {
                    display: none;
                }
            }

            li.badge {
                @include border-default;
                padding: 2pt 3pt;

                &.print-only {
                    display: inline-flex;

                    span {
                        @include text-print;
                        @include text-bold;
                    }
                }
            }

            li.web-only {
                display: none;
            }
        }

        .widget__qr-wrapper {
            display: flex;
            justify-content: end;

            img.widget__qr-code {
                @include rounded-gradient;
                @include border-gradient;
                margin: 18pt -9pt 0 0;
                width: 150px;
                height: auto;
            }
        }
    }

    .widget__link h4 {
        border-bottom: 2pt solid $color-side;
    }

    .widget__tooltip-item:not(.badge) {
        opacity: 1;
    }

    .widget__link span {
        margin-bottom: 0;
    }

    .widget ul li.badge > span.link {
        padding: 3pt 1.5pt;
    }

    br.print-only {
        display: inline-flex;
    }
}
