/* PRINT */

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    .content {
        margin: 0 auto;
        padding: 0;
        max-width: 100vw;

        &__inner {
            padding-bottom: 0;
        }
    }

    .entry {
        margin-bottom: 5mm;

        h1 {
            font-size: 50pt;
            padding-bottom: 2mm;
            line-height: 1;
        }

        h2 {
            font-size: 30pt;
            -webkit-text-fill-color: $color-side;
        }

        ul {
            img {
                width: 25pt;
                opacity: 1;
            }
        }

        &__contact-wrapper {
            margin: 0 6pt;

            &>ul {
                margin-top: 3pt;
            }
        }
    }

    .widget {
        grid-template-columns: repeat(3, 1fr);

        &__wrapper {
            padding: 0;
            margin-top: 3mm;

            &:nth-child(-n + 4) {
                height: 10.75cm;
            }

            &:nth-child(n + 4) {
                height: 4cm;
            }
        }

        &__title {
            color: $color-side;
            font-size: 17pt;
            -webkit-text-fill-color: inherit;
            padding: 0.35cm 0 0.35cm 0.35cm;
        }

        &__text,
        &__list {
            padding: 0.45cm 0.35cm 0 0.35cm;
        }

        &__info {
            display: none;
        }

        h4 {
            font-size: 13pt;
            margin-bottom: 1mm;
        }

        p {
            font-size: 10pt;
            orphans: 2;
            widows: 3;
            line-height: 1.75;
        }

        ul {
            li:not(.badge) {
                font-size: 10pt;
                line-height: 1.75;

                &::before {
                    -webkit-text-fill-color: $color-violet;
                }
            }

            li.badge {
                padding: 0.5mm;
            }
        }
    }

    .widget__link h4 {
        border-bottom: 2pt solid $color-side;
    }

    .entry__cv,
    footer {
        display: none;
    }

    .entry__url {
        display: flex;
    }

    .widget__tooltip-item:not(.badge) {
        opacity: 1;
    }
}
