// Safari bug fixes

@use '../base/rwd' as *;

img.widget__tooltip-close {
    display: none;
}

@include sm-max {
    _::-webkit-full-page-media,
    _:future,
    :root .widget__tooltip-content img.widget__tooltip-close {
        display: block;
        position: absolute;
        pointer-events: initial;
        left: 0;
        top: 0.75em;
    }
}

_::-webkit-full-page-media,
_:future,
:root .device__navigation-prev {
    display: none;
}

_::-webkit-full-page-media,
_:future,
:root .device__navigation-next {
    display: none;
}
