/* WCAG */

.screenreader-text {
    position: absolute;
    @include transition-transform;

    &:focus {
        @include fade-top;
        background: $color-side;
        color: $color-primary;
        outline: 2px solid $color-orchid;
        display: inline-block;
        padding: 0.5em 1em;
        margin: auto;
        z-index: 1;
    }
}
