:root {
    --card: hsla(40, 71%, 73%, 0.75);
    --gradient-start: hsla(311, 35%, 55%, 1);
    --gradient-end: hsla(259, 30%, 42%, 1);
    --gradient: conic-gradient(
        from 180deg at 50% 70%,
        var(--card) 0deg,
        #b565a7 72deg,
        #5f4b8b 144deg,
        #b565a7 216deg,
        #5f4b8b 288deg,
        var(--card) 1turn
    );
}

@property --start {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.card {
    --active: 0.15;
    --start: 0;
    @include sharp-radius;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background: $color-white;
    padding: 2rem;
    border: 0.25rem transparent solid;
    height: auto;
    min-width: 20rem;
    max-width: 20rem;
    min-height: 30rem;
    max-height: 30rem;
    aspect-ratio: 20 / 30;

    &:hover {
        border-color: $color-accent-alt;
    }

    &.active {
        border-color: $color-accent;
    }

    &:is(:hover, :focus-visible) {
        z-index: 2;
    }

    &::before {
        @include sharp-radius;
        @include border-transparent;
        position: absolute;
        inset: 0;
        content: '';
        pointer-events: none;
        background: $color-accent;
        background-attachment: fixed;
        mask: linear-gradient(#0000, #0000),
            conic-gradient(
                from calc(((var(--start) + (var(--spread) * 0.25)) - (var(--spread) * 1.5)) * 1deg),
                hsl(0 0% 100% / 0.15) 0deg,
                white,
                hsl(0 0% 100% / 0.15) calc(var(--spread) * 2.5deg)
            );
        mask-clip: padding-box, border-box;
        mask-composite: intersect;
        opacity: var(--active);
        transition: opacity 1s;
    }

    &::after {
        --bg-size: 100%;
        --alpha: 0;
        @include sharp-radius;
        @include border-transparent;
        content: '';
        pointer-events: none;
        position: absolute;
        background: var(--gradient);
        background-attachment: fixed;
        opacity: var(--active, 0);
        transition: opacity 1s;
        inset: 0;
        mask: linear-gradient(#0000, #0000),
            conic-gradient(
                from calc(((var(--start) + (var(--spread) * 0.25)) - (var(--spread) * 0.5)) * 1deg),
                #0000 0deg,
                #fff,
                #0000 calc(var(--spread) * 0.5deg)
            );
        filter: brightness(1.5);
        mask-clip: padding-box, border-box;
        mask-composite: intersect;
    }

    &__container {
        @include border-gradient;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1em;
        border-top: 0.25rem solid;
        border-bottom: 0;
        margin-top: 5rem;
    }

    &__title {
        @include text-headline;
        text-align: center;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        height: 4.5rem;
    }

    &__date {
        display: flex;
        align-items: center;
        img {
            width: 32px;
            height: 32px;
        }
        span {
            @include text-bold;
            @include text-tiny;
            line-height: normal;

            @include sm-max {
                @include text-mobile;
            }
        }
    }

    &__list {
        display: flex;
        ul {
            margin: 0.25rem 0 0;
        }
    }

    &__description {
        height: 4rem;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 2.5rem;
    }

    &__bookmark {
        @include square-icon;
    }

    &__wrapper {
        --spread: 600;
        @include flex-center;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1rem;
        margin: 0 auto;
        padding: 2rem;
        width: auto;
        height: auto;
        touch-action: none;
    }

    &__thumbnail {
        @include flex-center;
        @include border-transparent;
        @include transition-all;
        position: relative;
        flex: 1;
        background: linear-gradient(-90deg, #5f4b8b 0%, #b565a7 100%) border-box;
        max-height: 10rem;

        img {
            object-fit: cover;
        }

        img:before {
            content: 'Image not found';
            color: red;
            display: block;
            text-align: center;
        }

        img:not([src]):not([srcset]),
        img[src=''] {
            background: #ccc url('https://ignet.com.pl/dist/img/imgBroken.svg') center/cover no-repeat;
        }

        &:hover {
            @include border-accent;
        }
    }
}

.dg.ac {
    z-index: 99999 !important;
}
