:root {
    --bg: hsl(219, 28%, 88%);

    /* TODO gradient for --border below */
    --border: hsla(220, 16%, 22%, 1);
    --card: hsla(219, 28%, 88%, 0.05);
    --color: hsla(220, 16%, 22%, 1);
    --gradient-start: hsla(311, 35%, 55%, 1);
    --gradient-end: hsla(259, 30%, 42%, 1);
    --border-width: 8px;
    --border-radius: 16px;
    --gradient: conic-gradient(
        from 180deg at 50% 70%,
        var(--card) 0deg,
        #b565a7 72deg,
        #5f4b8b 144deg,
        #b565a7 216deg,
        #5f4b8b 288deg,
        var(--card) 1turn
    );
}

@property --start {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.card {
    --active: 0.15;
    --start: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    background: var(--card);
    padding: 2rem;
    aspect-ratio: 330 / 400;
    border-radius: var(--border-radius);
    border: 1px var(--border) solid;
    // TODO fix values below
    height: auto;
    min-width: 300px;
    max-width: 300px;
    min-height: 500px;
    max-height: 500px;

    &:is(:hover, :focus-visible) {
        z-index: 2;
    }

    &::before {
        position: absolute;
        inset: 0;
        border: var(--border-width) solid transparent;
        content: '';
        border-radius: var(--border-radius);
        pointer-events: none;
        background: var(--border);
        background-attachment: fixed;
        border-radius: var(--border-radius);
        mask: linear-gradient(#0000, #0000),
            conic-gradient(
                from calc(((var(--start) + (var(--spread) * 0.25)) - (var(--spread) * 1.5)) * 1deg),
                hsl(0 0% 100% / 0.15) 0deg,
                white,
                hsl(0 0% 100% / 0.15) calc(var(--spread) * 2.5deg)
            );
        mask-clip: padding-box, border-box;
        mask-composite: intersect;
        opacity: var(--active);
        transition: opacity 1s;
    }

    &::after {
        --bg-size: 100%;
        content: '';
        pointer-events: none;
        position: absolute;
        background: var(--gradient);
        background-attachment: fixed;
        border-radius: var(--border-radius);
        opacity: var(--active, 0);
        transition: opacity 1s;
        --alpha: 0;
        inset: 0;
        border: var(--border-width) solid transparent;

        /* TODO fine tune gradient below */
        mask: linear-gradient(#0000, #0000),
            conic-gradient(
                from calc(((var(--start) + (var(--spread) * 0.25)) - (var(--spread) * 0.5)) * 1deg),
                #0000 0deg,
                #fff,
                #0000 calc(var(--spread) * 0.5deg)
            );
        filter: brightness(1.5);
        mask-clip: padding-box, border-box;
        mask-composite: intersect;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 1em;
    }

    &__title {
        @include text-headline;
    }

    &__wrapper {
        --spread: 60;
        display: flex;
        flex-wrap: wrap;
        flex-direction: var(--direction);
        gap: calc(var(--gap) * 1px);
        margin: 0 auto;
        justify-content: center;
        place-items: center;
        position: relative;
        padding: 2rem;
        touch-action: none;
        height: auto;
    }

    &__thumbnail {
        // TODO fix values and extract mixin from code below
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        // border-radius: 10px;
        border: 1px solid #b565a7;
        // background: linear-gradient(-90deg, #5f4b8b 0%, #b565a7 100%) border-box;
        mask: linear-gradient(-90deg, #5f4b8b 0%, #b565a7 100%) padding-box, linear-gradient(-90deg, #5f4b8b 0%, #b565a7 100%);
        -webkit-mask: linear-gradient(-90deg, #5f4b8b 0%, #b565a7 100%) padding-box, linear-gradient(-90deg, #5f4b8b 0%, #b565a7 100%);
        -webkit-mask-composite: xor;
        mask-composite: inherit;
        // border: 0;
        border: 4px solid;
        -o-border-image: linear-gradient(-90deg, #5f4b8b 0%, #b565a7 100%);
        border-image: linear-gradient(-90deg, #5f4b8b 0%, #b565a7 100%);
        border-image-slice: 1;
        // background: hsla(219, 28%, 88%, 0.75);
        max-height: 10rem;
        background: transparent;
    }
}

.dg.ac {
    z-index: 99999 !important;
}
