/* COMMON */

* {
    box-sizing: border-box;
}

body {
    @include main-font;
    background: $dark-default;
}

.main-content {
    margin: 5em auto;

    @include mobile-view {
        margin: 2.5em auto;
    }
}

.ignet {
    @include border-radius;
    max-width: 80vw;
    margin: auto;
    background: $gradient-default;
    padding: 0.5em;

    &__inner {
        @include border-radius;
        width: 100%;
        height: 100%;
        position: relative;
        background: $light-default;
        display: grid;
        padding: 2em;
        grid-template-areas:
            "headline"
            "widget"
            "social";
        grid-template-columns: 100%;
        grid-template-rows: auto;

        @include mobile-view {
            padding: 1.5em;
            grid-template-columns: 100% 0% 0%;
            grid-template-rows: auto;
            grid-template-areas:
                "headline headline headline"
                "widget widget widget"
                "social social social";

            >div {
                margin: 0.25em;
            }
        }

        &:after {
            // PLACEHOLDER
        }
    }
}