/* ENTRY */

.entry {
    grid-area: entry;
    text-align: center;
    color: $color-side;
    margin-bottom: 1.5em;

    @include sm-max {
        margin-bottom: 0;
    }

    h1 {
        @include text-uppercase;
        @include border-gradient;
        font-size: 8em;
        margin: 0 auto;
        line-height: 1.125em;

        @include xl-max {
            font-size: 7em;
        }

        @include lg-max {
            font-size: 6em;
        }

        @include md-max {
            font-size: 4em;
        }

        @include sm-max {
            font-size: 3em;
            padding-bottom: 0.25em;
        }

        @include xs-max {
            font-size: 2.5em;
        }
    }

    ul {
        @include flex-row;
        margin-top: 1.25em;

        @include lg-max {
            margin-top: 1em;
        }

        @include md-max {
            margin-top: 0.5em;
        }

        @include sm-max {
            margin-top: 0.75em;
        }

        img {
            @include transition-opacity;
            width: 2.25em;
            height: auto;
            opacity: 0.7;

            @include md-max {
                width: 2.75em; // wcag ready
                opacity: 1;
            }
        }

        img {
            &:hover {
                opacity: 1;
            }
        }
    }

    &__contact {
        &-wrapper {
            @include flex-row;
            justify-content: space-between;

            &>ul {
                margin: 1em 0.5em 0 0.5em;

                @include xs-max {
                    margin: 0;
                }
            }

            @include xs-max {
                margin: 0.5em 0 0.25em 0;
                @include flex-center;
            }
        }
    }

    &__url {
        display: none;
    }
}
