/* ENTRY */

.entry {
    grid-area: entry;
    text-align: center;
    color: $color-side;
    margin-bottom: 1.5em;

    @include sm-max {
        margin-bottom: 0;
    }

    h1 {
        @include text-title;
        @include text-uppercase;
        @include border-gradient;
        margin: 0 auto;
    }

    h2 {
        @include text-subtitle;
        @include text-uppercase;
        @include text-gradient;
        margin: 0;
        span.shuffled {
            @include text-gradient-alt;
        }
    }

    ul {
        @include flex-row;

        @include lg-max {
            margin-top: 1em;
        }

        @include md-max {
            margin-top: 0.5em;
        }

        @include sm-max {
            margin-top: 0.75em;
        }

        li:not(:last-child) {
            a {
                margin-right: 0.375em;

                &.entry__cv {
                    margin-right: 0;
                }
            }
        }

        img {
            @include transition-opacity;
            @include dimmed-opacity;
            display: flex;
            width: 32px;
            height: auto;
            top: 0;
            left: 0;

            &:hover {
                @include full-opacity;
            }

            &:focus {
                outline: 2px dashed $color-wcag;
            }

            @include md-max {
                @include full-opacity;
                width: 40px;
            }
        }

        img.widget__info:hover + .widget__tooltip-content,
        img.widget__info:focus + .widget__tooltip-content {
            min-width: auto;
            top: 40px;
            left: 0;

            @include sm-max {
                top: 0;
                margin: 0;
            }
        }

        .widget__tooltip-content {
            h5 {
                border-bottom: 0;

                @include sm-max {
                    margin-bottom: 0;
                }
            }
        }
    }

    ul.entry__contact-media {
        img.widget__info:hover + .widget__tooltip-content,
        img.widget__info:focus + .widget__tooltip-content {
            left: auto;
            right: 0;
        }
    }

    &__contact {
        &-wrapper {
            @include flex-row;
            justify-content: space-between;
            margin: 0 0.75em;

            @include xl-max {
                margin: 0 0.5em;
            }

            @include sm-max {
                margin: 0;
            }

            @include xs-max {
                @include flex-center;
            }

            ul.print-only {
                display: none;
            }
        }
    }
}
