/* FOLIO */

.folio {
    &.__wrapper {
        .active {
            border: 1rem dashed $color-wcag;
        }

        &.-label {
            color: $color-side;
            margin-right: 0.25rem;
        }
    }
}
