/* HEADLINE */

.headline {
    grid-area: headline;
    text-align: center;
    color: $dark-default;
    margin: 1em 0;

    h1 {
        @include text-uppercase;
        @include text-height;
        font-size: 4em;
        margin: auto;
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        background-clip: padding-box;
        border-bottom: solid 5px transparent;
        border-radius: 1em;

        @include mobile-view {
            font-size: 2.4em;
        }

        &:after {
            @include border-after;
        }

        &:hover:after {
            background: $gradient-default;
        }
    }

    h2 {
        @include text-uppercase;
        @include text-height;
        @include border-gradient;
        font-size: 2em;
        margin: 0.25em;

        @include mobile-view {
            font-size: 1.6em;
        }
    }

    a {
        @include text-gradient;
        @include text-height;
    }

    &__mail {
        float: left;
    }

    &__phone {
        float: right;
    }
}