/* HEADLINE */

.headline {
    grid-area: headline;
    text-align: center;
    color: $dark-default;
    margin: 1em 0 2.5em 0;

    h1 {
        @include text-uppercase;
        font-size: 7em;
        margin: auto;
        letter-spacing: 0.2px;
    }

    h2 {
        @include text-uppercase;
        @include border-gradient;
        font-size: 3.5em;
        padding-bottom: 0.25em;
        margin: 0;
        letter-spacing: 0.2px;

        @include mobile-view {
            font-size: 1.6em;
        }
    }

    a {
        margin-top: 0.5em;
        color: $dark-default;
    }

    &__mail {
        float: left;
    }

    &__phone {
        float: right;
    }
}