/* LINK */

.widget__link {
    @include hover-link;
    position: relative;
    text-decoration: none;
    margin-bottom: -3px;

    span {
        @include text-desktop;
        @include transition-link;
        color: $color-side;
        display: inline-flex;
        line-height: 1.25em;
        margin-bottom: 3px;
    }

    svg {
        @include arrow-link;
        display: inline-block;
        position: relative;
        vertical-align: top;
        line-height: 1.25em;
        margin-right: -6px;

        @include sm-max {
            display: none;
        }
    }

    &:focus {
        outline: 0;
    }
}
