/* LINK */

@use '../base/link' as *;
@use '../base/colors' as *;
@use '../base/rwd' as *;
@use '../base/fonts' as *;
@use '../base/animations' as *;

.widget__link {
    @include hover-link;
    position: relative;
    text-decoration: none;
    margin-bottom: -3px;

    &.device__meta-button {
        margin-bottom: 0;
        margin-top: 5px;
    }

    span {
        @include text-desktop;
        @include transition-link;
        color: $color-primary;
        display: inline-flex;
        line-height: 1.25em;
        margin-bottom: 3px;

        &.card__link,
        &.device__meta-link {
            color: $color-side;
            background-image: linear-gradient(0deg, $color-side 0%, $color-side 100%);
        }
    }

    svg {
        @include arrow-link;
        display: inline-block;
        position: relative;
        vertical-align: top;
        line-height: 1.25em;
        margin-right: -6px;

        @include sm-max {
            display: none;
        }
    }

    &:focus {
        outline: 0;
    }
}
