/* SOCIAL */

.social {
    grid-area: social;
    width: 100%;
    text-align: center;
    margin: 2em auto;

    &__list {
        li {
            display: inline-block;

            a {
                img {
                    width: 32px;
                    opacity: 0.8;
                    transition: opacity 0.2s linear;
                }

                &:hover {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}