/* TOOLTIP */

.widget__tooltip-item {
    display: inline-block;
    position: relative;
}

img:hover+.widget__tooltip-content {
    opacity: 1;
    top: 0;
    left: calc(100% + 30px);
}

.widget__tooltip-content {
    position: absolute;
    background: $color-primary;
    color: $color-side;
    padding: 1em;
    border: 4px solid;
    border-radius: 1em;
    border-image: linear-gradient(to right, $color-orchid, $color-violet);
    border-image-slice: 1;
    text-decoration: none;
    top: -99999px;
    left: -99999px;
    opacity: 0;
    transition: opacity .3s linear;
}