/* TOOLTIP */

.widget__tooltip-item {
    display: inline-block;
    position: relative;
}

.widget__tooltip-content {
    @include transition-opacity;
    @include border-gradient;
    @include border-radius;
    position: absolute;
    background: $color-primary;
    color: $color-side;
    border: 4px solid;
    border-image: $gradient-invert;
    border-image-slice: 1;
    text-decoration: none;
    top: -99999px;
    left: -99999px;
    opacity: 0;
    z-index: 1;
    min-width: 250px;

    @include sm-max {
        min-width: 175px;
    }

    h5 {
        @include border-gradient;
        @include text-uppercase;
        text-align: center;
        margin-bottom: 0.5em;
        padding: 0.5em;
        @include sm-max {
            margin-bottom: 0.25em;
            padding: 0.25em;
        }
    }

    h6,
    ul {
        padding: 0.5em 1em;
        @include sm-max {
            padding: 0.25em 0.5em;
        }
    }
}

img.widget__info:hover + .widget__tooltip-content {
    opacity: 1;
    top: 40px;
    left: calc(100% - 132px);

    @include sm-max {
        position: static;
        margin: 1em 0;
    }
}
