/* TOOLTIP */

.widget__tooltip-item {
    display: inline-block;
    position: relative;
}
h4.widget__tooltip-item {
    &:last-child {
        margin-top: 0.5em;
    }
    .widget__info {
        top: 0.25em;
    }
}
.widget__tooltip-content {
    @include transition-opacity;
    @include border-gradient;
    position: absolute;
    background: $color-primary;
    color: $color-side;
    border: 4px solid;
    border-image: $gradient-invert;
    border-image-slice: 1;
    text-decoration: none;
    top: -99999px;
    left: -99999px;
    opacity: 0;
    z-index: 1;
    min-width: 250px;
    @include lg-max {
        min-width: 185px;
    }
    h5 {
        @include main-font;
        @include border-gradient;
        @include text-uppercase;
        @include text-bold;
        background: $gradient-invert;
        color: $color-primary;
        font-size: 1rem;
        text-align: center;
        padding: 0.5em;
        @include lg-max {
            font-size: 1rem;
            padding: 0.5em 0.25em;
        }
        @include sm-max {
            margin-bottom: 0.25em;
            padding: 0.5em;
            border-bottom-width: 0.5em;
        }
    }
    h6,
    ul {
        @include side-font;
        font-size: 1rem;
        text-transform: none;
        margin-bottom: 0;
    }
    h6 {
        padding: 0.5em 1em;
        @include sm-max {
            padding: 0.25em 0.5em;
        }
        & + h6 {
            padding: 0 1em 0.75em;
        }
    }
    ul {
        padding: 0em 1em 0.5em;
        @include sm-min {
            margin-top: -0.25em;
        }
    }
    li {
        margin-bottom: 0.15em;
    }
    br {
        content: "";
        display: block;
        margin-bottom: 0.75em;
    }
}
img.widget__info:hover + .widget__tooltip-content,
img.widget__info:focus + .widget__tooltip-content {
    opacity: 1;
    top: 35px;
    left: calc(100% - 132px);
    @include sm-max {
        position: fixed;
        margin: 1em 0;
        width: 100%;
        left: 0;
        top: -1em;
        z-index: 222;
        pointer-events: none;
        border-width: 0.5em;
    }
}
// Safari mobile bug fixes
img.widget__tooltip-close {
    display: none;
}
@include sm-max {
    _::-webkit-full-page-media,
    _:future,
    :root img.widget__tooltip-close {
        display: block;
        position: absolute;
        right: 0;
        top: 0.15em;
    }
    _::-webkit-full-page-media,
    _:future,
    :root img.widget__info:focus + .widget__tooltip-content,
    _::-webkit-full-page-media,
    _:future,
    :root img.widget__info:hover + .widget__tooltip-content {
        pointer-events: initial;
        top: -1em;
    }
}
