/* WIDGET */

.widget {
    grid-area: widget;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    color: $color-side;

    @include sm-min {
        grid-template-columns: repeat(2, 1fr);
    }

    @include desktop-min {
        grid-template-columns: repeat(3, 1fr);
    }

    &__wrapper {
        @include border-gradient;
        border-width: 0px;
        border-style: solid;
        position: relative;
        box-sizing: border-box;
    }

    &__title {
        @include text-bold;
        @include text-base;
        @include text-gradient;
        @include text-uppercase;
        @include text-height;
        @include border-gradient;
        padding: 0.25em 0.5em;

        @include xl-max {
            padding: 0.25em;
        }

        @include sm-max {
            text-align: center;
        }
    }

    &__text,
    &__list {
        @include side-font;
        @include text-height;
        @include text-desktop;
        padding: 1em;

        @include xl-max {
            padding: 1em 0.5em;
        }

        @include sm-max {
            text-align: center;
        }
    }

    h4 {
        @include text-mobile;
        @include main-font;
        @include text-uppercase;
    }

    ul {
        margin-bottom: 0.75em;

        li:not(.badge) {
            @include text-desktop;
            line-height: 1.5em;

            @include sm-max {
                @include text-mobile;
            }

            &::before {
                content: "•";
                @include text-gradient;

                @include sm-max {
                    content: "";
                }
            }
        }

        li.badge {
            @include main-font;
            @include flex-center;
            @include tiny-radius;
            @include text-desktop;
            background: $gradient-invert;
            display: inline-flex;
            gap: 0.25em;
            margin-bottom: 0.25em;
            color: $color-primary;
            padding: 0.25em 0.5em;
            line-height: normal;
            width: max-content;

            img.widget__info {
                top: 0;
                left: 0;
            }

            &:hover {
                background: $gradient-default;
            }

            &>span {
                @include text-bold;
                align-items: center;

                @include sm-max {
                    @include text-mobile;
                }
            }
        }

        span.widget__info:hover+.widget__tooltip-content,
        span.widget__info:focus+.widget__tooltip-content {
            left: 0;
            min-width: auto;
            opacity: 1;
        }

        .widget__tooltip-content {
            h5 {
                border-bottom-width: 0;
            }
        }
    }

    .widget__tooltip-content {
        ul {
            li {
                @include sm-max {
                    &::before {
                        content: "•";
                    }
                }
            }
        }
    }

    p {
        @include text-height;
        @include text-desktop;
        position: relative;
        margin-bottom: 0.5em;

        @include sm-max {
            @include text-mobile;
        }
    }

    &__info {
        width: 20px;
        position: relative;

        @include sm-max {
            width: 30px;
        }
    }
}
