doctype
html(lang='en')
  head
    include ./includes/head.pug
  body
    main.wrapper
      .err-404
        .err-404__inner
          .err-404__column
            include ./includes/body/spaceman.pug
          .err-404__column
            h1 404
            h2 Page not found
            p How you got here is a mystery. But you can click the button below to go back to the homepage.
            a(href=pageUrl).btn
              span Home
    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js'
      integrity='sha512-pCPP9sfLW9T7EZiw725jUl+ux032sjGhFE+ZAx00C1iO55ZmZJWpfNGbDf2ZF5b0UqxRqSW548PbZEWmH+S7pA=='
      crossorigin='anonymous'
    )
    include ./includes/js/gsap.pug
