doctype
html(lang='en')
  head
    include ./includes/head.pug
  body
    include ./includes/body/helpers.pug
    main#content.content
      .content__inner
        header.entry
          include ./includes/folio/folioEntry.pug
        #folio.folio__wrapper
          include ./includes/folio/device.pug
          section.widget.card__container
            include ./includes/folio/cards.pug
    include ./includes/body/footer.pug
