doctype
html(lang='en')
  head
    include ./includes/head.pug
  body
    include ./includes/body/helpers.pug
    main#content.content
      .content__inner
        header.entry
          include ./includes/body/entry.pug
        section.widget
          .wrapper
            a(href=pageUrl role='button').btn
              span Home
  script(src='https://ignet.com.pl/dist/js/main.js')
