article.card(data-desktop-src="dist/img/card/5B-desktop-preview.gif" data-mobile-src="dist/img/card/3.png")
  .card__glows
  .card__thumbnail
    img(src=pathCard + '5B-thumbnail.png' alt='Dance App thumbnail')
  .card__badge
  h3.card__title Dance App
  .card__list
    ul
      li.badge.widget__tooltip-item
        span.widget__list-item Dev
  p.card__description Lorem ipsum
  a(href=pageUrl role='button').card__button
    span.card__link Link
