article.card(data-desktop-src="dist/img/card/3H-desktop-app-preview.gif" data-mobile-src="dist/img/card/3.png")
  .card__glows
  .card__thumbnail
    img(src=pathCard + '3H-thumbnail.png' alt='Bot thumbnail')
  .card__badge
  h3.widget__title Bot
  .widget__list
    ul
      li.badge.widget__tooltip-item
        span.widget__list-item Dev
  p Lorem ipsum
  a(href=pageUrl role='button').btn
    span Link
