//- Google
meta(name='title' content=pageTitle + ` | ` + pageDesc)
meta(name='robots' content='index, follow')
meta(name='google-site-verification' content=googleKey)
link(rel='preconnect dns-prefetch' href='https://www.google-analytics.com')