//- Primary Meta Tags
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
title=pageTitle
meta(name='description' content=pageDesc)
meta(name='keywords' content=pageKeywords)
meta(name='author' content='Ignet')
link(rel='icon' type='image/png' href='img/favicon.png')