mixin 2017
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2017
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2017' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2017
       ul
         li 2017
mixin 2018
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2018
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2018' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2018
       ul
         li 2018
mixin 2019
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2019
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2019' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2019
       ul
         li 2019
mixin 2020
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2020
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2020' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2020
       ul
         li 2020
mixin 2021
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2021
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2021' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2021
       ul
         li 2021
mixin 2022
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2022
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2022' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2022
       ul
         li 2022
mixin 2023
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2023
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2023' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2023
       ul
         li 2023
mixin 2024
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2024
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2024' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2024
       ul
         li 2024
mixin 2025
  li.badge.widget__tooltip-item
    span.widget__list-item.reversed 2025
      img.widget__info(src='assets/img/calendarAlt.svg' alt='2025' tabindex='0')
    .widget__tooltip-content
       img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
       h5 2025
       ul
         li 2025