mixin dev-badge
  li.badge.widget__tooltip-item
    span.widget__list-item Dev
      img.widget__info(src='assets/img/infoAlt.svg' alt='Dev' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Development
      ul
        li Creation and maintenance of software
mixin design-badge
  li.badge.widget__tooltip-item
    span.widget__list-item Design
      img.widget__info(src='assets/img/infoAlt.svg' alt='Design' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Design
      ul
        li Plan for the construction of an object or system
mixin js-badge
  li.badge.widget__tooltip-item
    span.widget__list-item JS
      img.widget__info(src='assets/img/infoAlt.svg' alt='JS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 JavaScript
      ul
        li High-level programming language
mixin sass-badge
  li.badge.widget__tooltip-item
    span.widget__list-item SASS
      img.widget__info(src='assets/img/infoAlt.svg' alt='SASS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 SASS
      ul
        li CSS pre-processor
mixin rest-badge
  li.badge.widget__tooltip-item
    span.widget__list-item REST API
      img.widget__info(src='assets/img/infoAlt.svg' alt='REST API' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 REST API
      ul
        li Architectural style for client-server applications
mixin svg-arrow
  svg(viewbox='0 0 16 19')
    polyline(points='0.5 19.5 3 19.5 12.5 10 3 0.5')
mixin react-badge
  li.badge.widget__tooltip-item
    span.widget__list-item React
      img.widget__info(src='assets/img/infoAlt.svg' alt='React' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 React
      ul
        li JS library for building UI
mixin tw-badge
  li.badge.widget__tooltip-item
    span.widget__list-item TW
      img.widget__info(src='assets/img/infoAlt.svg' alt='TailWind' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 TailWind
      ul
        li Web design front-end framework
mixin gql-badge
  li.badge.widget__tooltip-item
    span.widget__list-item GraphQL
      img.widget__info(src='assets/img/infoAlt.svg' alt='GraphQL' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 GraphQL
      ul
        li Data query language
mixin figma-badge
  li.badge.widget__tooltip-item
    span.widget__list-item Figma
      img.widget__info(src='assets/img/infoAlt.svg' alt='Figma' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Figma
      ul
        li Online collaborative vector graphics editor
mixin svg-badge
  li.badge.widget__tooltip-item
    span.widget__list-item SVG
      img.widget__info(src='assets/img/infoAlt.svg' alt='SVG' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 SVG
      ul
        li Two-dimensional vector image file format
mixin xd-badge
  li.badge.widget__tooltip-item
    span.widget__list-item XD
      img.widget__info(src='assets/img/infoAlt.svg' alt='XD' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Adobe XD
      ul
        li Web prototyping and design tool
mixin ts-badge
  li.badge.widget__tooltip-item
    span.widget__list-item TS
      img.widget__info(src='assets/img/infoAlt.svg' alt='TS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 TypeScript
      ul
        li Programming language and superset of JS
mixin html-badge
  li.badge.widget__tooltip-item
    span.widget__list-item HTML
      img.widget__info(src='assets/img/infoAlt.svg' alt='HTML' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 HTML
      ul
        li HyperText Markup Language
mixin css-badge
  li.badge.widget__tooltip-item
    span.widget__list-item CSS
      img.widget__info(src='assets/img/infoAlt.svg' alt='CSS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 CSS
      ul
        li Style sheet language
mixin bootstrap-badge
  li.badge.widget__tooltip-item
    span.widget__list-item Bootstrap
      img.widget__info(src='assets/img/infoAlt.svg' alt='Bootstrap' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Bootstrap
      ul
        li Front-end framework
mixin ws-badge
  li.badge.widget__tooltip-item
    span.widget__list-item WS
      img.widget__info(src='assets/img/infoAlt.svg' alt='WS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 WebSocket
      ul
        li Computer network protocol
mixin vr-badge
  li.badge.widget__tooltip-item
    span.widget__list-item VR
      img.widget__info(src='assets/img/infoAlt.svg' alt='VR' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Virtual reality
      ul
        li Computer-simulated experience
