mixin dev-badge
  li.badge.widget__tooltip-item
    span.widget__list-item Dev
      img.widget__info(src='assets/img/infoAlt.svg' alt='Dev' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Development
      ul
        li Content goes here as pug variable
mixin design-badge
  li.badge.widget__tooltip-item
    span.widget__list-item Design
      img.widget__info(src='assets/img/infoAlt.svg' alt='Design' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 Design
      ul
        li Content goes here as pug variable
mixin js-badge
  li.badge.widget__tooltip-item
    span.widget__list-item JS
      img.widget__info(src='assets/img/infoAlt.svg' alt='JS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 JavaScript
      ul
        li Content goes here as pug variable
mixin scss-badge
  li.badge.widget__tooltip-item
    span.widget__list-item SCSS
      img.widget__info(src='assets/img/infoAlt.svg' alt='SCSS' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 SCSS
      ul
        li Content goes here as pug variable
mixin rest-badge
  li.badge.widget__tooltip-item
    span.widget__list-item REST API
      img.widget__info(src='assets/img/infoAlt.svg' alt='REST API' tabindex='0')
    .widget__tooltip-content
      img.widget__tooltip-close(src='assets/img/close.svg' alt='Close tooltip' tabindex='0')
      h5 REST API
      ul
        li Content goes here as pug variable
mixin svg-arrow
  svg(viewbox='0 0 16 19')
    polyline(points='0.5 19.5 3 19.5 12.5 10 3 0.5')
