@use '../base/flex' as *;
@use '../base/colors' as *;
@use '../base/animations' as *;
@use '../base/opacity' as *;
@use '../base/borders' as *;

@mixin square-button {
    @include flex-center;
    button {
        @include transition-opacity;
        @include dimmed-opacity;
        width: 32px;
        height: 32px;
        border: 0;
        outline: 0;

        &:focus {
            outline: 0;
        }

        &:hover {
            @include full-opacity;
        }

        &:disabled {
            @include dimmed-opacity;
            filter: grayscale(1);
            cursor: none;
            cursor: not-allowed;
        }
    }
}

@mixin square-icon {
    @include border-gradient;
    border: 0.125rem solid;
    background: $color-primary;
    border-image: $gradient-invert;
    border-image-slice: 1;

    button {
        @include transition-opacity;
        display: flex;
        background-image: url('https://ignet.com.pl/dist/img/bookmark.svg');
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        border: 0;
        outline: 0;
        @include dimmed-opacity;

        &.selected {
            background-image: url('https://ignet.com.pl/dist/img/bookmarkAlt.svg');
        }

        &:focus {
            outline: 0;
        }

        &:hover {
            @include full-opacity;
        }
    }
}
