// COLORS

$color-primary: hsla(219, 28%, 88%, 1);
$color-side: hsla(220, 16%, 22%, 1);
$color-violet: hsla(259, 30%, 42%, 1);
$color-violet-alt: hsla(259, 30%, 42%, 0.5);
$color-orchid: hsla(311, 35%, 55%, 1);
$color-orchid-alt: hsla(311, 35%, 55%, 0.5);
$color-lime: hsla(79, 30%, 58%, 1);
$color-green: hsla(131, 35%, 45%, 1);
$color-wcag: hsla(20, 81%, 53%, 1);
$color-wcag-invert: hsla(200, 81%, 47%, 1);
$color-white: hsla(0, 0%, 100%, 1);
$gradient-default: linear-gradient(-90deg, $color-orchid 0%, $color-violet 100%);
$gradient-default-alt: linear-gradient(-90deg, $color-orchid-alt 0%, $color-violet-alt 100%);
$gradient-invert: linear-gradient(-90deg, $color-violet 0%, $color-orchid 100%);
$gradient-invert-alt: linear-gradient(-90deg, $color-violet-alt 0%, $color-orchid-alt 100%);
$gradient-alt: linear-gradient(to bottom, $color-lime, $color-green);
