// COLORS

$light-default: #fff;
$dark-default: #222;
$violet-default: #5f4b8b;
$orchid-default: #b565a7;
$gradient-default: linear-gradient(-90deg, $orchid-default 0%, $violet-default 100%);
$gradient-invert: linear-gradient(-90deg, $violet-default 0%, $orchid-default 100%);