// MIXINS

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin text-shadow {
    text-shadow: 2px 1px 0 $color-orchid, 5px 4px 0 $color-violet;
}

@mixin text-uppercase {
    text-transform: uppercase;
}

@mixin text-height {
    line-height: 1.5;
}

@mixin text-gradient {
    background: $gradient-invert;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

@mixin text-regular {
    font-weight: 400;
}

@mixin text-bold {
    font-weight: 700;
}

@mixin border-radius {
    border-radius: 1em;
}

@mixin border-default {
    border: 1px dashed $color-side;
}

@mixin border-gradient {
    border: 0;
    border-bottom: 4px solid;
    border-image: $gradient-invert;
    border-image-slice: 1;
    text-decoration: none;
}

@mixin box-shadow {
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px hsla(0, 0%, 0%, 0.25);
}

@mixin opacity-animation {
    @keyframes intro {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin transition-opacity {
    transition: opacity 0.3s linear;
}

@mixin transition-filter {
    transition: filter 0.3s linear;
}

@mixin transition-transform {
    transform: translateY(-2em);
    transition: transform 0.3s linear;
    width: 1px;
    height: 1px;
    top: auto;
    left: -999px;
}

@mixin fade-top {
    transform: translateY(0em);
    width: auto;
    height: auto;
    top: -3em;
    left: 1em;
}

@mixin color-invert {
    filter: invert(100%);
}

@mixin background-opacity($color-primary, $opacity) {
    background: $color-primary; /* The Fallback */
    background: rgba($color-primary, $opacity);
}
