// MIXINS

@mixin text-shadow {
    text-shadow: 2px 1px 0 $orchid-default, 5px 4px 0 $violet-default;
}

@mixin text-uppercase {
    text-transform: uppercase;
}

@mixin text-height {
    line-height: 1.25;
}

@mixin border-radius {
    border-radius: 1em;
}

@mixin border-default {
    border: 1px dashed $dark-default;
}

@mixin border-gradient {
    border: 0;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, $orchid-default, $violet-default);
    border-image-slice: 1;
    margin: auto;
    text-decoration: none;
}