// RWD

$device-xs: 544px;
$device-sm: 768px;
$device-md: 992px;
$device-desktop: 1200px;
$device-lg: 1350px;
$device-xl: 1615px;

@mixin xs-max {
    @media screen and (max-width: #{$device-xs - 1px}) {
        @content;
    }
}

@mixin xs-min {
    @media screen and (min-width: #{$device-xs}) {
        @content;
    }
}

@mixin sm-max {
    @media screen and (max-width: #{$device-sm - 1px}) {
        @content;
    }
}

@mixin sm-min {
    @media screen and (min-width: #{$device-sm}) {
        @content;
    }
}

@mixin md-max {
    @media screen and (max-width: #{$device-md + 1px}) {
        @content;
    }
}

@mixin md-min {
    @media screen and (min-width: #{$device-md}) {
        @content;
    }
}

@mixin desktop-max {
    @media screen and (max-width: #{$device-desktop + 1px}) {
        @content;
    }
}

@mixin desktop-min {
    @media screen and (min-width: #{$device-desktop}) {
        @content;
    }
}

@mixin lg-max {
    @media screen and (max-width: #{$device-lg - 1px}) {
        @content;
    }
}

@mixin lg-min {
    @media screen and (min-width: #{$device-lg}) {
        @content;
    }
}

@mixin xl-max {
    @media screen and (max-width: #{$device-xl - 1px}) {
        @content;
    }
}

@mixin xl-min {
    @media screen and (min-width: #{$device-xl}) {
        @content;
    }
}
